@import url('../../styles/variable.css');

.aui--popover-element {
  cursor: pointer;
  display: inline-flex;
}

.aui--popover-wrapper {
  z-index: 1060;
  max-width: 276px;
  font-size: $font-size-base;
  border: 1px solid $color-border-base;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  padding: 0;
  background-color: $color-white;
}

.aui--popover-wrapper .popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: $font-size-base;
  border-bottom: 1px solid;
  border-radius: 3px 3px 0 0;
}

.aui--popover-wrapper[data-placement*='bottom'] {
  margin-top: 6px;
}

.aui--popover-wrapper[data-placement*='top'] {
  margin-bottom: 6px;
}

.aui--popover-wrapper[data-placement*='left'] {
  margin-right: 6px;
}

.aui--popover-wrapper[data-placement*='right'] {
  margin-left: 6px;
}

.aui--popover-wrapper .aui--popover-arrow {
  position: absolute;
  border: 0 solid $color-grey-300;
}

.aui--popover-wrapper .aui--popover-arrow::after {
  content: '';
  display: block;
  position: relative;
  border: 0 solid $color-white;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement='right-start'],
.aui--popover-wrapper .aui--popover-arrow[data-placement='right-end'],
.aui--popover-wrapper .aui--popover-arrow[data-placement='left-start'],
.aui--popover-wrapper .aui--popover-arrow[data-placement='left-end'],
.aui--popover-wrapper .aui--popover-arrow[data-placement='top-start'],
.aui--popover-wrapper .aui--popover-arrow[data-placement='top-end'],
.aui--popover-wrapper .aui--popover-arrow[data-placement='bottom-start'],
.aui--popover-wrapper .aui--popover-arrow[data-placement='bottom-end'] {
  transform: none !important;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='top'],
.aui--popover-wrapper .aui--popover-arrow[data-placement*='bottom'] {
  width: 12px;
  height: 6px;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='top']::after,
.aui--popover-wrapper .aui--popover-arrow[data-placement*='bottom']::after {
  width: 12px;
  height: 6px;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='top'] {
  margin-bottom: -6px;
  bottom: -1px;
  border-top-width: 6px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='top']::after {
  top: -7px;
  right: 6px;
  border-top-width: 6px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='left'],
.aui--popover-wrapper .aui--popover-arrow[data-placement*='right'] {
  width: 6px;
  height: 12px;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='left']::after,
.aui--popover-wrapper .aui--popover-arrow[data-placement*='right']::after {
  width: 6px;
  height: 12px;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='left'] {
  right: -1px;
  margin-right: -6px;
  border-left-width: 6px;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='left']::after {
  top: -6px;
  left: -7px;
  border-left-width: 6px;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='bottom'] {
  top: -7px;
  margin-bottom: -6px;
  border-bottom-width: 6px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='bottom']::after {
  top: 1px;
  right: 6px;
  border-bottom-width: 6px;
  border-right-width: 6px;
  border-left-width: 6px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='right'] {
  margin-left: -7px;
  left: 0;
  border-right-width: 6px;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.aui--popover-wrapper .aui--popover-arrow[data-placement*='right']::after {
  top: -6px;
  left: 1px;
  border-right-width: 6px;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.aui--popover-wrapper.popover-light {
  color: $color-text-base;
}

.aui--popover-wrapper.popover-light .popover-title {
  background-color: $color-grey-200;
  border-bottom-color: $color-grey-300;
}

.aui--popover-wrapper.popover-dark {
  background-color: $color-grey-700;
  border-color: $color-grey-700;
  color: $color-white;
}

.aui--popover-wrapper.popover-dark .aui--popover-arrow[data-placement*='top'] {
  border-top-color: $color-grey-700;
}

.aui--popover-wrapper.popover-dark .aui--popover-arrow[data-placement*='top']::after {
  border-top-color: $color-grey-700;
}

.aui--popover-wrapper.popover-dark .aui--popover-arrow[data-placement*='right'] {
  border-right-color: $color-grey-700;
}

.aui--popover-wrapper.popover-dark .aui--popover-arrow[data-placement*='right']::after {
  border-right-color: $color-grey-700;
}

.aui--popover-wrapper.popover-dark .aui--popover-arrow[data-placement*='bottom'] {
  border-bottom-color: $color-grey-700;
}

.aui--popover-wrapper.popover-dark .aui--popover-arrow[data-placement*='bottom']::after {
  border-bottom-color: $color-grey-700;
}

.aui--popover-wrapper.popover-dark .aui--popover-arrow[data-placement*='left'] {
  border-left-color: $color-grey-700;
}

.aui--popover-wrapper.popover-dark .aui--popover-arrow[data-placement*='left']::after {
  border-left-color: $color-grey-700;
}

.aui--popover-wrapper.popover-dark .popover-title {
  background-color: #747474;
  border-bottom-color: $color-white;
}

.aui--popover-wrapper.popover-warn {
  background-color: $color-warning-base;
  border-color: $color-warning-base;
  color: $color-white;
}

.aui--popover-wrapper.popover-warn .aui--popover-arrow[data-placement*='top'] {
  border-top-color: $color-warning-base;
}

.aui--popover-wrapper.popover-warn .aui--popover-arrow[data-placement*='top']::after {
  border-top-color: $color-warning-base;
}

.aui--popover-wrapper.popover-warn .aui--popover-arrow[data-placement*='right'] {
  border-right-color: $color-warning-base;
}

.aui--popover-wrapper.popover-warn .aui--popover-arrow[data-placement*='right']::after {
  border-right-color: $color-warning-base;
}

.aui--popover-wrapper.popover-warn .aui--popover-arrow[data-placement*='bottom'] {
  border-bottom-color: $color-warning-base;
}

.aui--popover-wrapper.popover-warn .aui--popover-arrow[data-placement*='bottom']::after {
  border-bottom-color: $color-warning-base;
}

.aui--popover-wrapper.popover-warn .aui--popover-arrow[data-placement*='left'] {
  border-left-color: $color-warning-base;
}

.aui--popover-wrapper.popover-warn .aui--popover-arrow[data-placement*='left']::after {
  border-left-color: $color-warning-base;
}

.aui--popover-wrapper.popover-warn .popover-title {
  background-color: #fbbc64;
  border-bottom-color: $color-white;
}

.aui--popover-wrapper.popover-error {
  background-color: $color-danger-base;
  border-color: $color-danger-base;
  color: $color-white;
}

.aui--popover-wrapper.popover-error .aui--popover-arrow[data-placement*='top'] {
  border-top-color: $color-danger-base;
}

.aui--popover-wrapper.popover-error .aui--popover-arrow[data-placement*='top']::after {
  border-top-color: $color-danger-base;
}

.aui--popover-wrapper.popover-error .aui--popover-arrow[data-placement*='right'] {
  border-right-color: $color-danger-base;
}

.aui--popover-wrapper.popover-error .aui--popover-arrow[data-placement*='right']::after {
  border-right-color: $color-danger-base;
}

.aui--popover-wrapper.popover-error .aui--popover-arrow[data-placement*='bottom'] {
  border-bottom-color: $color-danger-base;
}

.aui--popover-wrapper.popover-error .aui--popover-arrow[data-placement*='bottom']::after {
  border-bottom-color: $color-danger-base;
}

.aui--popover-wrapper.popover-error .aui--popover-arrow[data-placement*='left'] {
  border-left-color: $color-danger-base;
}

.aui--popover-wrapper.popover-error .aui--popover-arrow[data-placement*='left']::after {
  border-left-color: $color-danger-base;
}

.aui--popover-wrapper.popover-error .popover-title {
  background-color: #e37873;
  border-bottom-color: $color-white;
}

.aui--popover-wrapper.popover-info {
  background-color: $color-info-base;
  border-color: $color-info-base;
  color: $color-white;
}

.aui--popover-wrapper.popover-info .aui--popover-arrow[data-placement*='top'] {
  border-top-color: $color-info-base;
}

.aui--popover-wrapper.popover-info .aui--popover-arrow[data-placement*='top']::after {
  border-top-color: $color-info-base;
}

.aui--popover-wrapper.popover-info .aui--popover-arrow[data-placement*='right'] {
  border-right-color: $color-info-base;
}

.aui--popover-wrapper.popover-info .aui--popover-arrow[data-placement*='right']::after {
  border-right-color: $color-info-base;
}

.aui--popover-wrapper.popover-info .aui--popover-arrow[data-placement*='bottom'] {
  border-bottom-color: $color-info-base;
}

.aui--popover-wrapper.popover-info .aui--popover-arrow[data-placement*='bottom']::after {
  border-bottom-color: $color-info-base;
}

.aui--popover-wrapper.popover-info .aui--popover-arrow[data-placement*='left'] {
  border-left-color: $color-info-base;
}

.aui--popover-wrapper.popover-info .aui--popover-arrow[data-placement*='left']::after {
  border-left-color: $color-info-base;
}

.aui--popover-wrapper.popover-info .popover-title {
  background-color: #71c1d8;
  border-bottom-color: $color-white;
}

.aui--popover-wrapper.popover-success {
  background-color: $color-success-base;
  border-color: $color-success-base;
  color: $color-white;
}

.aui--popover-wrapper.popover-success .aui--popover-arrow[data-placement*='top'] {
  border-top-color: $color-success-base;
}

.aui--popover-wrapper.popover-success .aui--popover-arrow[data-placement*='top']::after {
  border-top-color: $color-success-base;
}

.aui--popover-wrapper.popover-success .aui--popover-arrow[data-placement*='right'] {
  border-right-color: $color-success-base;
}

.aui--popover-wrapper.popover-success .aui--popover-arrow[data-placement*='right']::after {
  border-right-color: $color-success-base;
}

.aui--popover-wrapper.popover-success .aui--popover-arrow[data-placement*='bottom'] {
  border-bottom-color: $color-success-base;
}

.aui--popover-wrapper.popover-success .aui--popover-arrow[data-placement*='bottom']::after {
  border-bottom-color: $color-success-base;
}

.aui--popover-wrapper.popover-success .aui--popover-arrow[data-placement*='left'] {
  border-left-color: $color-success-base;
}

.aui--popover-wrapper.popover-success .aui--popover-arrow[data-placement*='left']::after {
  border-left-color: $color-success-base;
}

.aui--popover-wrapper.popover-success .popover-title {
  background-color: #7ec77e;
  border-bottom-color: $color-white;
}

.aui--popover-wrapper .popover-content {
  padding: 5px 10px;
  line-height: 1.5;
}

.aui--popover-wrapper .popover-content p {
  margin-bottom: 5px;
}

.aui--popover-wrapper .popover-content p:last-child {
  margin-bottom: 0;
}
