@import url('../../styles/variable.css');

.tag-component {
  align-items: center;
  background-color: $color-grey-600;
  border-radius: $border-radius-base;
  box-sizing: border-box;
  color: $color-white;
  display: inline-flex;
  font-size: $font-size-base;
  margin-right: 6px;
  min-height: 24px;
  padding: 0 6px;
  line-height: 0;
}

.tag-component-actionable {
  padding-right: 0;
}

.tag-component-accent label {
  font-weight: $font-weight-bold;
}

.tag-component .action-button {
  box-sizing: border-box;
  cursor: pointer;
  fill: $color-white;
  fill-opacity: 0.6;
  height: 24px;
  text-align: center;
  width: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.tag-component .action-button:hover {
  fill-opacity: 1;
}

.tag-component label {
  margin-bottom: 0;
  max-width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-component.tag-component-inverse {
  background-color: $color-grey-200;
  border-left: 4px solid;
  color: $color-grey-600;
}

.tag-component.tag-component-inverse .action-button {
  fill: $color-grey-500;
}
