.tag-component {
  align-items: center;
  background-color: #838383;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-size: 12px;
  margin-right: 6px;
  min-height: 24px;
  padding: 0 6px;
  line-height: 0;
}

.tag-component-actionable {
  padding-right: 0;
}

.tag-component-accent label {
  font-weight: 700;
}

.tag-component .action-button {
  box-sizing: border-box;
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0.6;
  height: 24px;
  text-align: center;
  width: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.tag-component .action-button:hover {
  fill-opacity: 1;
}

.tag-component label {
  margin-bottom: 0;
  max-width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-component.tag-component-inverse {
  background-color: #f3f3f3;
  border-left: 4px solid;
  color: #838383;
}

.tag-component.tag-component-inverse .action-button {
  fill: #ababab;
}
