.aui--stepper {
  display: flex;
  width: 400px;

  /* &.aui-large {
    width: 100%;
  } */

  /* 
  &.aui-small {
    width: calc(100% / 3);
  } */
}

.aui--step {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 100%;
   */
  flex: 1;
}

.aui--step:not(:first-child)::before {
  content: '';
  background-color: #cbd5e0;
  position: absolute;
  width: 100%;
  height: 2px;
  right: 50%;

  /*  half of step height */
  top: 20px;
  transform: translateY(-50%);
}

/* TODO: deal with icon fill color */
.aui--step-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
  border-radius: 9999px;
  font-weight: 600;
  color: #1c1d1f;
  background-color: #ebeef2;
  cursor: pointer;

  /* todo: box-shadow */

  /* hover?  */
}

.active .aui--step-item {
  background-color: #1c1d1f;
  color: #fff;
}

.completed:not(:first-child)::before,
.active:not(:first-child)::before {
  background-color: #0b0c0c;
}
