@import url('../../styles/variable.css');

.aui--information-box {
  padding: 30px;
  color: $color-text-base;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.aui--information-box.aui--information-box-primary {
  background-color: $color-primary-soft;
}

.aui--information-box.aui--information-box-success {
  background-color: $color-success-soft;
}

.aui--information-box.aui--information-box-warning {
  background-color: $color-warning-soft;
}

.aui--information-box.aui--information-box-error {
  background-color: $color-danger-soft;
}

.aui--information-box.aui--information-box-light {
  background-color: $color-grey-100;
}

.aui--information-box.aui--information-box-white {
  background-color: $color-white;
}

.aui--information-box-text {
  padding-left: 20px;
  flex-grow: 1;
}

.aui--information-box-title {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  color: $color-text-base;
}

.aui--information-box-icon {
  background-color: transparent;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}
