@import '~styles/border';
@import '~styles/color';
@import '~styles/font-weight';
@import '~styles/icon';

.panel-component {
  $transition-duration: 250ms;
  $transition-timing-function: ease-out;
  $panel-padding: 20px;

  background-color: $color-panel-expanded;
  transition: background-color $transition-duration $transition-timing-function;

  ~ .panel-component {
    border-top: $border-lighter;
  }

  &-header {
    cursor: pointer;
    font-weight: $font-weight-bold;
    border-bottom: $border-lighter;
    line-height: 22px;

    &::before {
      background: $icon-chevron no-repeat;
      content: ' ';
      float: right;
      height: $icon-size;
      transition: transform $transition-duration $transition-timing-function;
      width: $icon-size;
      fill: $color-text;
      margin-top: 3px;
    }

    .svg-symbol-component {
      float: left;
      height: $icon-size-large;
      margin-right: 10px;
      position: relative;
      width: $icon-size-large;
      fill: $color-text;
    }
  }

  &-header,
  &-content {
    padding: $panel-padding;
  }

  &.collapsed {
    background-color: $color-panel-collapsed;

    .panel-component-header {
      border-bottom: 0;

      &::before {
        transform: rotate(180deg);
      }
    }

    .panel-component-content {
      display: none;
    }
  }


  hr {
    margin-left: -$panel-padding;
    margin-right: -$panel-padding;
  }
}

.card-component-content {
  $border-radius: 5px;

  .panel-component {
    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
