@import '../variable';

@mixin button-disabled {
  background-color: $color-disabled;
  border-color: $color-disabled;
  color: $color-text;
}

@mixin button-inverse($color) {
  $transformed-color: hsl(hue($color), saturation($color), 90%);

  @include button-variant($color, $color-well, $color);

  &:active,
  &:focus,
  &:hover {
    &,
    &:active {
      background-color: $transformed-color;
    }
  }
}


.btn {
  box-shadow: 0 1px 0 0 $color-border-light;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 2px 0 0 $color-border-light;
    transform: translateY(-1px);
  }

  &:active,
  &.active {
    box-shadow: none;
    transform: translateY(0);
  }

  &:active,
  &:focus {
    &,
    &:active {
      outline: 0;
    }
  }

  &.disabled,
  &[disabled],
  [disabled] & {
    @include button-disabled;

    &:hover {
      @include button-disabled;
    }
  }
}

.btn-link {
  cursor: pointer;
  font-weight: $font-weight-medium; // Overrides 'normal'
}

.btn-xs,
.btn-group-xs > .btn,
.btn-sm,
.btn-group-sm > .btn {
  font-size: $font-size-tiny;
}

// Bootstrap calls their inverse button `.btn-default`, we use `.btn-inverse` instead.
.btn-inverse {
  @include button-variant($color-text-light, $color-well, $color-border);

  &.disabled,
  &[disabled],
  [disabled] & {
    @include button-disabled;

    &:hover {
      @include button-disabled;
    }
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $color-background;
  }

  &.btn-primary {
    @include button-inverse($color-primary);
  }

  &.btn-success {
    @include button-inverse($color-positive);
  }

  &.btn-info {
    @include button-inverse($color-info);
  }

  &.btn-warning {
    @include button-inverse($color-warning);
  }

  &.btn-danger {
    @include button-inverse($color-negative);
  }
}
