@import '../variable.scss';

// Mixins
@mixin buttonDisabled() {
  background-color: $color-disabled;
  border-color: $color-disabled;
  color: $color-text;
}

@mixin buttonInverse($color) {
  @include button-variant($color, $color-well, $color);

  &:hover,
  &:active,
  &:focus,
  &:active:focus {
    background-color: hsl(hue($color), saturation($color), 90%);
  }
}

// Style
.btn {
  -webkit-font-smoothing: subpixel-antialiased;
  margin-right: 5px;
  box-shadow: 0 1px 0 0 $color-border-light;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0 2px 0 0 $color-border-light;
    transform: translateY(-1px);
  }

  &:active,
  &.active {
    box-shadow: none;
    transform: translateY(0);
  }

  &:focus,
  &:active,
  &:focus:active {
    outline: 0;
  };

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include buttonDisabled();

    &:hover {
      @include buttonDisabled();
    }
  }
}

.btn-link {
  font-weight: $font-weight-medium; // Overrides 'normal'
  cursor: pointer;
}

.btn-xs,
.btn-group-xs > .btn,
.btn-sm,
.btn-group-sm > .btn {
  font-size: $font-size-tiny;
}

.btn-inverse,
.btn-default { // Bootstrap calls their inverse button .btn-default, please don't use this one.
  @include button-variant($color-text-light, $color-well, $color-border);

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include buttonDisabled();

    &:hover {
      @include buttonDisabled();
    }
  }
  &:hover,
  &:active,
  &:focus {
    background-color: $color-background;
  }
  &.btn-primary {
    @include buttonInverse($color-primary);
  }
  &.btn-success {
    @include buttonInverse($color-positive);
  }
  &.btn-info {
    @include buttonInverse($color-info);
  }
  &.btn-warning {
    @include buttonInverse($color-warning);
  }
  &.btn-danger {
    @include buttonInverse($color-negative);
  }
}
