@import '../variable.scss';

.nav-tabs {
  $border: 1px solid $color-border-lighter;
  margin-bottom: 0;

  > li {
    border-top: $border;
    border-left: $border;
    margin-right: 0;
    text-align: center;
    margin-bottom: -1px;
    background-color: $color-gray-white;
    padding: 0;
    font-size: $font-size-body;
    display: inline-block;

    > a {
      display: inline-block;
      padding: 8px 15px 7px;
      color: $color-text-light;
      font-weight: $font-weight-medium;
      text-shadow: none;
      white-space: nowrap;
      margin-right: 0;
      cursor: pointer;

      .icon {
        float: left;
        margin-right: 5px;
      }
    }

    > a,
    > a:hover,
    > a:focus {
      border: 0;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      border: 0;
      background-color: $color-well;

    &.active
      > a,
      > a:hover,
      > a:focus {
        cursor: default;
        border-right: 0;
      }
    }

    &:last-child {
      border-right: $border;
    }
  }
}
