@import '~styles/variable';
@import '~styles/border';

.treepickersimplepure-component {
  display: flex;
  height: $treepicker-height;

  .loading-nodes-container {
    text-align: center;
    padding: 60px;
  }

  .flexible-spacer-component {
    border-top: 0;
  }

  .treepickernav-component {
    background-color: $color-background;
    border-top: $border-lighter;
  }

  .splitpane-component + .splitpane-component {
    .empty-component {
      margin-top: 71px;
    }
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: $treepicker-disabled-opacity;
  }
}

.background-highlighted {
  background-color: $color-background-highlighted;
}
