{
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": false
  },
  "rules": {
    "lodash/prefer-lodash-method": 0,
    "import/no-extraneous-dependencies": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/test.js"
      }
    }
  }
}
