:root {

/* Colors: */
--grey-800: #1C1D1F;
--grey-700: #505359;
--grey-600: #757982;
--grey-500: #AAAFB3;
--grey-400: #D5D8DA;
--grey-300: #DAE2E6;
--grey-200: #E5EAED;
--grey-100: #F4F5F7;
--blue-800: #01396A;
--blue-700: #004480;
--blue-600: #1950A3;
--blue-500: #006DCC;
--blue-400: #1F97FF;
--blue-300: #85C6FF;
--blue-200: #D7ECFF;
--green-800: #2B622B;
--green-700: #3C893C;
--green-600: #31A549;
--green-500: #5BB75B;
--green-400: #77C377;
--green-300: #B0DCB0;
--green-200: #E9F5E9;
--red-800: #551411;
--red-700: #B22A24;
--red-600: #D5382E;
--red-500: #DA4F49;
--red-400: #E1706B;
--red-300: #EFB1AF;
--red-200: #FCE8E8;
--orange-800: #844F01;
--orange-700: #DA8205;
--orange-600: #F8951D;
--orange-500: #FAA732;
--orange-400: #FBB85A;
--orange-300: #FDDAA9;
--orange-200: #FFEED6;
--cyan-800: #0C3E4F;
--cyan-700: #136480;
--cyan-600: #0492BA;
--cyan-500: #49AFCD;
--cyan-400: #89CBDF;
--cyan-300: #C9E7F0;
--cyan-200: #E8F8FD;
--purple-800: #35175A;
--purple-700: #582A91;
--purple-600: #793DC4;
--purple-500: #9768D1;
--purple-400: #AD87DB;
--purple-300: #D8C6EE;
--purple-200: #F4EBFD;
--teal-800: #00342E;
--teal-700: #006C60;
--teal-600: #008577;
--teal-500: #00B8A5;
--teal-400: #48DBCC;
--teal-300: #ABEBE5;
--teal-200: #DDFFFC;
--yellow-800: #7C6109;
--yellow-700: #BA9311;
--yellow-600: #EAB919;
--yellow-500: #EFC94C;
--yellow-400: #F2D471;
--yellow-300: #F6E097;
--yellow-200: #FFF3CC;
}