$font-weight-bold: 700;
$font-weight-normal: 400;
$font-size-xsmall: 9px;
$font-size-small: 11px;
$font-size-base: 12px;
$font-size-medium: 15px;
$font-size-large: 18px;
$font-size-xlarge: 24px;
$color-yellow-800: #7c6109;
$color-yellow-700: #ba9311;
$color-yellow-600: #eab919;
$color-yellow-500: #efc94c;
$color-yellow-400: #f2d471;
$color-yellow-300: #f6e097;
$color-yellow-200: #fff3cc;
$color-teal-800: #00342e;
$color-teal-700: #006c60;
$color-teal-600: #008577;
$color-teal-500: #00b8a5;
$color-teal-400: #48dbcc;
$color-teal-300: #abebe5;
$color-teal-200: #ddfffc;
$color-purple-800: #35175a;
$color-purple-700: #582a91;
$color-purple-600: #793dc4;
$color-purple-500: #9768d1;
$color-purple-400: #ad87db;
$color-purple-300: #d8c6ee;
$color-purple-200: #f4ebfd;
$color-cyan-800: #0c3e4f;
$color-cyan-700: #136480;
$color-cyan-600: #0492ba;
$color-cyan-500: #49afcd;
$color-cyan-400: #89cbdf;
$color-cyan-300: #c9e7f0;
$color-cyan-200: #e8f8fd;
$color-orange-800: #844f01;
$color-orange-700: #da8205;
$color-orange-600: #f8951d;
$color-orange-500: #faa732;
$color-orange-400: #fbb85a;
$color-orange-300: #fddaa9;
$color-orange-200: #ffeed6;
$color-red-800: #551411;
$color-red-700: #b22a24;
$color-red-600: #d5382e;
$color-red-500: #da4f49;
$color-red-400: #e1706b;
$color-red-300: #efb1af;
$color-red-200: #fce8e8;
$color-green-800: #2b622b;
$color-green-700: #3c893c;
$color-green-600: #31a549;
$color-green-500: #5bb75b;
$color-green-400: #77c377;
$color-green-300: #b0dcb0;
$color-green-200: #e9f5e9;
$color-blue-800: #01396a;
$color-blue-700: #004480;
$color-blue-600: #1950a3;
$color-blue-500: #006dcc;
$color-blue-400: #1f97ff;
$color-blue-300: #85c6ff;
$color-blue-200: #d7ecff;
$color-blue-100: #eaf5ff;
$color-grey-800: #1c1d1f;
$color-grey-700: #505359;
$color-grey-600: #757982;
$color-grey-500: #aaafb3;
$color-grey-400: #d5d8da;
$color-grey-300: #dae2e6;
$color-grey-200: #e5eaed;
$color-grey-100: #f4f5f7;
$color-black: #000000;
$color-white: #ffffff;
$border-radius-round: 999px;
$border-radius-large: 5px;
$border-radius-base: 2px;
$color-secondary-strong: $color-teal-600;
$color-secondary-base: $color-teal-500;
$color-secondary-accent: $color-teal-300;
$color-secondary-soft: $color-teal-200;
$color-info-strong: $color-cyan-600;
$color-info-base: $color-cyan-500;
$color-info-accent: $color-cyan-300;
$color-info-soft: $color-cyan-200;
$color-warning-strong: $color-orange-600;
$color-warning-base: $color-orange-500;
$color-warning-accent: $color-orange-300;
$color-warning-soft: $color-orange-200;
$color-danger-strong: $color-red-600;
$color-danger-base: $color-red-500;
$color-danger-accent: $color-red-300;
$color-danger-soft: $color-red-200;
$color-success-strong: $color-green-600;
$color-success-base: $color-green-500;
$color-success-accent: $color-green-300;
$color-success-soft: $color-green-200;
$color-primary-strong: $color-blue-600;
$color-primary-base: $color-blue-500;
$color-primary-accent: $color-blue-300;
$color-primary-soft: $color-blue-200;
$color-default-strong: $color-grey-800;
$color-default-base: $color-grey-500;
$color-default-accent: $color-grey-300;
$color-default-soft: $color-grey-200;
$color-text-inverse: $color-white;
$color-text-description: $color-grey-600;
$color-text-placeholder: $color-grey-600;
$color-text-disabled: $color-grey-600;
$color-text-label: $color-grey-700;
$color-text-soft: $color-grey-700;
$color-text-base: $color-grey-800;
$color-border-strong: $color-grey-800;
$color-border-base: $color-grey-300;