@import url('../../styles/variable');
$label-gap: 8px;

.aui--radio {
  & label {
    line-height: 16px;
    font-weight: $font-weight-normal;
    cursor: pointer;
    margin-bottom: 0;
    display: flex;
  }

  &.is-reverse {
    & label {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &.disabled {
    & label {
      cursor: not-allowed;
    }
  }

  & .aui--radio-label {
    margin-left: $label-gap;
    color: $color-text-base;
  }

  & .aui--radio-input-container {
    width: 16px;
    height: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;

    & span {
      vertical-align: baseline;
    }

    & input {
      display: none;
    }
  }

  /* radio icon */
  & .aui--radio-input-icon {
    &::before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: calc(16px / 2);
      border-width: 2px;
      transition: border 75ms ease-in-out;
      border-style: solid;
      border-color: $color-grey-500;
      display: block;
    }

    &.hover {
      &::before {
        border-color: $color-info-base;
      }
    }

    &.disabled {
      &::before {
        border-color: $color-grey-400;
        border-width: 8px;
      }

      &,
      &.checked {
        &::before {
          cursor: default;
        }
      }

      &.checked {
        &::before {
          border-color: $color-grey-400;
        }
      }
    }

    &.checked {
      &::before {
        border-color: $color-info-base;
        border-width: 5px;
      }
    }
  }

  &:focus-visible {
    outline: none;

    & .aui--radio-input-icon {
      border-radius: 50%;
      box-shadow: 0 0 0 2px $color-grey-700;
    }
  }

  &:hover {
    & .aui--radio-input-icon:not(.checked, .disabled) {
      &::before {
        border-color: $color-info-base;
      }
    }
  }

  &:active {
    & .aui--radio-input-icon:not(.checked, .disabled) {
      &::before {
        border-color: $color-info-strong;
      }
    }
  }
}
