@import '../color';
@import '../font-size';

.alert-component {
  color: $color-text-inverse;
  font-size: $font-size-body;
  line-height: 20px;
  padding: 10px;

  &-success {
    background-color: $color-positive;
  }

  &-info {
    background-color: $color-info;
  }

  &-warning {
    background-color: $color-warning;
  }

  &-danger {
    background-color: $color-negative;
  }
}
