@import '../color';
@import '../font-size';
@import '../variable';

.empty-component {
  cursor: default;
  margin: 0 auto;
  padding: 60px;
  text-align: center;
  user-select: none;

  &-text {
    color: $color-text-placeholder;
    font-size: $font-size-body;
    line-height: $line-height-base;
    margin-top: $spacing-etalon / 3;
    white-space: pre-wrap;
  }
}
