@import '../border';
@import '../color';
@import '../font-size';

.pretty-diff-component {
  border: $border-lighter;
  font-size: $font-size-body;
  padding: 10px;
  white-space: pre-wrap;

  &-delete {
    color: $color-negative;
    text-decoration: line-through;
  }

  &-insert {
    color: $color-positive;
  }
}
