@import '../border';
@import '../color';
@import '../font-size';
@import '../font-weight';

.search-component {
  $search-height: 26px;

  height: $search-height;
  line-height: $search-height;
  position: relative;
  width: 100%;

  ::-webkit-search-cancel-button,
  ::-webkit-search-decoration {
    appearance: none;
  }

  &-input {
    -webkit-appearance: textfield; // For Safari.
    border: $border-lighter;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $color-text;
    font-size: $font-size-body;
    height: inherit;
    margin: 0;
    padding: 0 0 0 10px;
    width: inherit;

    &::placeholder {
      color: $color-text-placeholder;
      font-weight: $font-weight-light;
    }

    &:active,
    &:focus {
      border-color: $color-border;
      outline: 0; // Override UA
    }

    &:disabled {
      border: $border-lighter;
      color: $color-text-disabled;
    }
  }

  .svg-symbol-component {
    box-sizing: content-box;
    height: 100%;
    padding: 0 4px;
    position: absolute;
    right: 0;
    top: 1px;
  }
}
