@import '../color';
@import '../font-weight';
@import '../font-size';
@import '../variable';

.spinner-component {
  $color-spinner-light: $color-gray-light;
  $color-spinner: $color-gray-dark;

  .spinner {
    animation: rotation 1.1s infinite linear;
    border-radius: 100%;
    border-style: solid;
    display: inline-block;

    &-small {
      border-width: 2px;
      height: $svg-icon-size;
      width: $svg-icon-size;
    }

    &-medium {
      border-width: 3px;
      height: 24px;
      width: 24px;
    }

    &-large {
      border-width: 6px;
      height: 60px;
      width: 60px;
    }

    &-colour-style-default {
      border-bottom-color: $color-spinner;
      border-left-color: $color-spinner;
      border-right-color: $color-spinner;
      border-top-color: $color-spinner-light;
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }
  }
}
