@import '../border';
@import '../color';
@import '../function';
@import '../variable';

.svgsymbolcircle-component {
  @mixin svg-size($diameter) {
    $inner-diameter: ceil(sqrt(.5) * $diameter);
    height: $inner-diameter;
    margin: (($diameter - $inner-diameter) / 2);
    width: $inner-diameter;
  }

  background-color: $color-gray-lightest;
  border-radius: $border-radius-circle;
  display: inline-block;

  // Default size
  height: $svg-icon-size;
  width: $svg-icon-size;

  &-inverse {
    background-color: $color-inverse;
  }

  .svg-symbol-component {
    @include svg-size($svg-icon-size);
  }


  @mixin circle-size($diameter) {
    &-#{strip-units($diameter)} {
      height: $diameter;
      width: $diameter;
    }

    .svg-symbol-component-#{strip-units($diameter)} {
      @include svg-size($diameter);
    }
  }

  // Sizes specified unitless in classSuffixes ['70']
  @include circle-size(70px);
  @include circle-size(50px);
}
