{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "> 5%",
          "ie >= 11",
          "not and_chr > 0",
          "not and_uc > 0",
          "not android > 0",
          "not ie_mob > 0",
          "not ios_saf > 0",
          "not op_mini > 0"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-strict-mode",
    "transform-react-jsx",
    "transform-class-properties",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [["istanbul", {
        "exclude": [
          "src/**/*.spec**",
          "src/lib/**"
        ]
      }]]
    }
  }
}
