{
  "root": true,
  "plugins": ["jest-dom"],
  "extends": ["adslot", "plugin:jest-dom/recommended"],
  "settings": {
    "lodash": {
      "version": 4
    }
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
