# Logs
logs
*.log

# Coverage directory
coverage

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Mac related
.DS_Store

# build
build/

# Editor related
.idea/

docs/

dist

lib

es

!system/dist