@import '~styles/variable';

@mixin accent($id, $color-accent) {
  .tag-component-accent {
    &.accent-#{$id} {
      border-color: $color-accent;

      &:not(.tag-component-inverse) {
        background-color: $color-accent;
      }

      &.tag-component-inverse {
        color: $color-accent;
        fill: $color-accent;
      }
    }
  }
}

@include accent('positive', $color-positive);
@include accent('pending', $color-pending);
@include accent('negative', $color-negative);

.adslot-ui-example-container {
  &.alert-input-example {
    .adslot-ui-example {
      width: 140px;
    }
  }

  &.accordion-example,
  &.card-example {
    .adslot-ui-example {
      width: 240px;
    }
  }

  &.file-picker-example,
  &.text-ellipsis-example,
  &.textarea-example,
  &.select-example,
  &.panel-example {
    .adslot-ui-example {
      width: 380px;
    }
  }

  &.totals-example,
  &.empty-example,
  &.search-example,
  &.search-bar-example,
  &.pretty-diff-example {
    .adslot-ui-example {
      width: 560px;
    }
  }

  &.navigation-tabs-example {
    .adslot-ui-example {
      .dashboard-tab {
        border-color: $color-red-dark;
      }
    }
  }
}

.full-width {
  width: 100%;
}
