<<<<<<< HEAD
<<<<<<< HEAD
@import '~styles/variable';

.search-result-card {
  width: 240px;

  .card-component-content {
    padding-top: 0;

    &:first-child {
      padding: $spacing-etalon;
      border-bottom: $border-lighter;
      display: flex;
    }

    &:nth-child(2) {
      padding-top: $spacing-etalon;
    }

    &:nth-last-child(2):not(:first-child) {
      padding-bottom: $spacing-etalon;
    }

    .title {
      flex: 1;
    }

    .clear-button {
      padding: 0;
    }
  }
=======
=======
@import '~styles/variable';

>>>>>>> 71f002d... Docs: Changes based on reviews
.adslot-ui-searchresultcard {
  width: 240px;

  .card-component-content {
    padding-top: 0;

    &:first-child {
      padding: $spacing-etalon;
      border-bottom: 1px solid $gray-lighter;
      display: flex;
    }

    &:nth-child(2) {
      padding-top: $spacing-etalon;
    }

    &:nth-last-child(2):not(:first-child) {
      padding-bottom: $spacing-etalon;
    }

    .title {
      flex: 1;
    }

<<<<<<< HEAD
>>>>>>> 38bb043... Docs: Add search result card
=======
    .clear-button {
      padding: 0;
    }
  }
>>>>>>> 71f002d... Docs: Changes based on reviews
}
