<<<<<<< HEAD
@import '~styles/variable';

.search-result-card {
  width: 240px;

  .card-component-content {
    padding-top: 0;

    &:first-child {
      padding: $spacing-etalon;
      border-bottom: $border-lighter;
      display: flex;
    }

    &:nth-child(2) {
      padding-top: $spacing-etalon;
    }

    &:nth-last-child(2):not(:first-child) {
      padding-bottom: $spacing-etalon;
    }

    .title {
      flex: 1;
    }

    .clear-button {
      padding: 0;
    }
  }
=======
.adslot-ui-searchresultcard {
  width: 240px;
  
  pre {
    font-size: 15px;
  }

  .clear-button {
    float: right;
  }

  .card-component-content {
    &:first-child {
      padding: 20px;
      border-bottom: 1px solid #e8e8e8;
    }

    &:nth-child(2) {
      padding-top: 20px;
    }

    padding-top: 0;
  }

>>>>>>> 38bb043... Docs: Add search result card
}
