@import '~styles/variable';

@mixin button-disabled {
  background-color: $color-gray-lighter;
  border-color: $color-gray-lighter;
  color: $color-gray-dark;
  opacity: .65;
  box-shadow: none;
  cursor: not-allowed;
}

@mixin reset-shadow-and-transform {
  box-shadow: none;
  transform: translateY(0);
}

@mixin transform-active {
  transform: translateY(1px);
}

@mixin button-default {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
  box-shadow: 0 1px $color-gray-light;
  margin-right: 5px;
}

.aui--button {
  @include button-default;
  position: relative;

  &.has-anchor {
    padding: 0;

    .aui--button-children-container {
      height: 100%;
      width: 100%;
    }
  }

  &:active {
    @include transform-active;
  }

  &:focus {
    background-color: $color-white;
    border-color: $color-gray-light;
    color: $color-gray-darker;
    outline: none;
  }

  &:hover {
    background-color: $color-button-default-hover-background;
    border-color: $color-button-default-hover-border;
  }

  &.btn-default {
    background-color: $color-white;
    border-color: $color-gray-light;
    color: $color-gray-darker;

    &:hover {
      color: $color-gray-dark;
      background-color: $color-button-default-hover-background;
      border-color: $color-button-default-hover-border;
    }

    &:active {
      @include transform-active;
      color: $color-gray-darker;
      background-color: $color-button-default-hover-background;
      border-color: $color-button-default-hover-border;
    }

    &:focus {
      background-color: $color-white;
      border-color: $color-gray-light;
      color: $color-gray-darker;
      outline: none;
    }
  }

  &.btn-primary,
  &.btn-default.btn-primary {
    background-color: $color-button-primary-background;
    border-color: $color-button-primary-border;
    color: $color-white;

    &.btn-inverse &:focus {
      background-color: $color-button-primary-background;
      border-color: $color-button-primary-border;
      color: $color-white;
      outline: none;
    }
  }

  &.btn-success,
  &.btn-default.btn-success {
    background-color: $color-button-success-background;
    border-color: $color-button-success-border;
    color: $color-white;

    &.btn-inverse &:focus {
      background-color: $color-button-success-background;
      border-color: $color-button-success-border;
      color: $color-white;
      outline: none;
    }
  }

  &.btn-info,
  &.btn-default.btn-info {
    background-color: $color-button-info-background;
    border-color: $color-button-info-border;
    color: $color-white;

    &.btn-inverse &:focus {
      background-color: $color-button-info-background;
      border-color: $color-button-info-border;
      color: $color-white;
      outline: none;
    }
  }

  &.btn-warning,
  &.btn-default.btn-warning {
    background-color: $color-button-warning-background;
    border-color: $color-button-warning-border;
    color: $color-white;
    cursor: not-allowed;

    &.btn-inverse &:focus {
      background-color: $color-button-warning-background;
      border-color: $color-button-warning-border;
      color: $color-white;
      outline: none;
    }
  }

  &.btn-danger,
  &.btn-default.btn-danger {
    background-color: $color-button-danger-background;
    border-color: $color-button-danger-border;
    color: $color-white;

    &.btn-inverse &:focus {
      background-color: $color-button-danger-background;
      border-color: $color-button-danger-border;
      color: $color-white;
      outline: none;
    }
  }

  &.btn-link,
  &.btn-default.btn-link {
    background-color: transparent;
    border-color: transparent;
    color: $color-button-link-color;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;

    &:active {
      @include reset-shadow-and-transform;
    }

    &:active,
    &:hover,
    &:hover:active,
    &:focus {
      background-color: transparent;
      border-color: transparent;
      color: $color-blue-dark;
      box-shadow: none;
      text-decoration: none;
      outline: none;
    }

    &:hover:focus {
      text-decoration: underline;
    }
  }

  &-children-container {
    &.is-loading {
      visibility: hidden; // preserves width and height of button
    }

    > .aui--svg-symbol-component {
      display: block;
      margin: auto;
    }
  }

  &.btn-large {
    padding: 5px 20px;
    font-size: $font-size-subheader;
  }

  &.btn-inverse:not([disabled]).btn-primary {
    border-color: $color-border-light;
  }

  &.disabled,
  &[disabled],
  [disabled] & {
    @include button-disabled;

    &,
    &:hover,
    &:focus,
    &:active {
      @include button-disabled;

      &:hover {
        @include button-disabled;
        @include reset-shadow-and-transform;
      }
    }
  }

  .aui--button-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 4px 8px;
    text-decoration: none;
    color: inherit;
  }

  .spinner-container {
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    // workaround for vertical centering
    .spinner-component {
      .spinner {
        &-small {
          margin-top: 1px;
        }

        &-medium {
          margin-top: -3px;
        }
      }
    }
  }
}
