@import '../../styles/variable';

$font-size-button-default: 12px;
$font-size-button-large: 15px;
$border-radius-button-default: 2px;
$border-radius-button-large: 4px;
$line-height-button: 1.5;
$line-height-button-large: 1.467;
$gap-button-default: 6px;
$gap-button-large: 9px;
$size-button-default: 30px;
$size-button-large: 42px;
/* calc(($size-button-default - 2px - $font-size-button-default * $line-height-button) / 2) */
$padding-y-button-default: 5px;
$padding-x-button-default: 12px;
$padding-icon-button-default: 6px;
$padding-icon-button-large: 10px;

/* calc(($size-button-large - 2px - $font-size-button-large * $line-height-button-large) / 2) */
$padding-y-button-large: 9px;
$padding-x-button-large: 24px;
$focus-ring-color: $color-gray-darker;

.aui--button,
.aui--anchor,
.btn {
  display: inline-flex;
  grid-gap: $gap-button-default;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  min-height: $size-button-default;
  height: 0%;
  position: relative;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  padding: $padding-y-button-default $padding-x-button-default;
  font-size: $font-size-button-default;
  line-height: $line-height-button;
  border-radius: $border-radius-button-default;
  transition-timing-function: ease;
  transition-property: background-color, border-color, box-shadow, transform;
  transition-duration: 0.1s;
  margin-right: 5px;
  color: $color-gray-darker;
  background-color: $color-inverse;
  border-color: $color-gray-light;

  &:last-child {
    margin-right: 0;
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    outline: none;
    border-color: $color-inverse;
    box-shadow: 0 0 0 2px $focus-ring-color;
  }

  &[class*='aui-'] {
    &:focus-visible {
      border-color: $color-inverse;
    }
  }

  &:hover {
    color: $color-gray-darker;
    background-color: $color-gray-lighter;
    border-color: #bababa;
  }

  &.aui-primary {
    color: $color-inverse;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
      color: $color-inverse;
      background-color: #005299;
      border-color: #005299;
    }

    &:active {
      color: $color-inverse;
      background-color: #004480;
      border-color: #004480;
    }
  }

  &.aui-secondary {
    color: $color-inverse;
    background-color: $color-secondary;
    border-color: $color-secondary;

    &:hover {
      color: $color-inverse;
      background-color: #008577;
      border-color: #008577;
    }

    &:active {
      color: $color-inverse;
      background-color: #006c60;
      border-color: #006c60;
    }
  }

  &.aui-success {
    color: $color-inverse;
    background-color: $color-positive;
    border-color: $color-positive;

    &:hover {
      color: $color-inverse;
      background-color: #449b44;
      border-color: #449b44;
    }

    &:active {
      color: $color-inverse;
      background-color: #3c893c;
      border-color: #3c893c;
    }
  }

  &.aui-info {
    color: $color-inverse;
    background-color: $color-info;
    border-color: $color-info;

    &:hover {
      color: $color-inverse;
      background-color: #3195b2;
      border-color: #3195b2;
    }

    &:active {
      color: $color-inverse;
      background-color: #2b849e;
      border-color: #2b849e;
    }
  }

  &.aui-warning {
    color: $color-inverse;
    background-color: $color-warning;
    border-color: $color-warning;

    &:hover {
      color: $color-inverse;
      background-color: #f39106;
      border-color: #f39106;
    }

    &:active {
      color: $color-inverse;
      background-color: #da8205;
      border-color: #da8205;
    }
  }

  &.aui-danger {
    color: $color-inverse;
    background-color: $color-negative;
    border-color: $color-negative;

    &:hover {
      color: $color-inverse;
      background-color: #c72f29;
      border-color: #c72f29;
    }

    &:active {
      color: $color-inverse;
      background-color: #b22a24;
      border-color: #b22a24;
    }
  }

  &.aui-inverse {
    background-color: $color-inverse;
    border-color: $color-gray-light;

    &:focus-visible {
      border-color: $color-inverse;
      box-shadow: 0 0 0 2px $focus-ring-color;
    }

    &:hover {
      background-color: $color-gray-lighter;
      border-color: #bababa;
    }

    &:active {
      color: $color-inverse;
      background-color: #dbdbdb;
      border-color: #bababa;
    }
  }

  &.aui-borderless {
    background-color: transparent;
    border-color: transparent;

    &:focus-visible {
      border-color: $color-inverse;
      box-shadow: 0 0 0 2px $focus-ring-color;
    }

    &:hover {
      background-color: $color-inverse;
      border-color: $color-gray-light;
    }

    &:active {
      background-color: $color-gray-lighter;
      border-color: #adadad;
    }
  }

  &.aui-borderless,
  &.aui-inverse {
    &.aui-primary {
      color: $color-primary;

      &:hover {
        color: $color-primary;
      }
    }

    &.aui-default {
      color: $color-gray-darker;

      &:hover {
        color: $color-gray-darker;
      }
    }

    &.aui-secondary {
      color: $color-secondary;

      &:hover {
        color: $color-secondary;
      }
    }

    &.aui-success {
      color: $color-positive;

      &:hover {
        color: $color-positive;
      }
    }

    &.aui-info {
      color: $color-info;

      &:hover {
        color: $color-info;
      }
    }

    &.aui-warning {
      color: $color-warning;

      &:hover {
        color: $color-warning;
      }
    }

    &.aui-danger {
      color: $color-negative;

      &:hover {
        color: $color-negative;
      }
    }
  }

  /* Link */
  &.aui-link {
    all: unset;
    border-radius: $border-radius-button-default;
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #004c8f;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px $color-gray-darker;
    }
  }

  /* Large */
  &.aui-large {
    line-height: $line-height-button-large;
    min-height: $size-button-large;
    padding: $padding-y-button-large $padding-x-button-large;
    font-size: $font-size-button-large;
    grid-gap: $gap-button-large;

    &.aui-icon {
      padding: $padding-icon-button-large;
      height: $size-button-large;
      width: $size-button-large;
    }
  }

  /* Round */
  &.aui-round {
    border-radius: 999px;
  }

  /* Full Width */
  &.aui-full-width {
    width: 100%;
    margin-right: 0;
  }

  /* Icon (no label/children) */
  &.aui-icon {
    padding: $padding-icon-button-default;
    height: $size-button-default;
    width: $size-button-default;

    &.aui-round {
      & .spinner-component {
        & .spinner {
          &.spinner-small {
            height: $size-button-default;
            width: $size-button-default;
          }

          &.spinner-medium {
            border-width: 3px;
            height: $size-button-large;
            width: $size-button-large;
          }
        }
      }
    }
  }

  /* Icon container */
  & .aui-icon-container {
    display: inline-flex;

    & svg {
      fill: currentColor;
    }
  }

  /* Disabled */
  &[class*='aui-'].disabled,
  &[class*='aui-'][disabled] {
    background-color: $color-gray-lighter;
    border-color: $color-gray-lighter;
    color: $color-gray-dark;
    opacity: 0.65;
    box-shadow: none;
    cursor: not-allowed;

    &.aui-link {
      background-color: transparent;
    }

    &:hover,
    &:focus {
      background-color: $color-gray-lighter;
      border-color: $color-gray-lighter;
      color: $color-gray-dark;
      opacity: 0.65;
      box-shadow: none;
      cursor: not-allowed;

      &.aui-link {
        background-color: transparent;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  /* Loading */
  &:not(.aui-round) {
    & .aui-children-container,
    & .aui-icon-container {
      /* preserves width and height of button */
      &.is-loading {
        visibility: hidden;
      }

      & > .aui--svg-symbol-component {
        display: block;
        margin: auto;
      }
    }
  }

  & .spinner-container {
    position: absolute;

    & .spinner-component {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & > .flexible-wrapper-inline {
    & > .flexible-spacer-component {
      min-width: $padding-base-horizontal;
    }
  }
}
