@import '~styles/variable';

.adslot-ui-header {
  > .pagetitle-component {
    background: $color-background;

    .header-link {
      color: $color-black;
      font-size: 24px;
      font-weight: 900;
      text-decoration: none;
      cursor: pointer;
      margin-right: 15px;
    }

    .header-right-pane {
      display: flex;
      width: 300px;
      justify-content: space-between;
      align-items: center;
    }

    .adslot-icon {
      height: 32px;
      width: 32px;
    }

    .svg-symbol-component-contributors {
      width: 32px;
      height: 32px;
    }
  }
}

.adslot-ui-contributors-panel {
  .aui--action-panel-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .aui--popover-element {
      margin: 10px;
    }
  }
}
