.pagedgrid-component .grid-component-cell:not(.grid-component-cell-stretch) {
  flex-basis: 100px;
}
.pagedgrid-component .empty-component {
  border-bottom: 1px solid #e8e8e8;
}
.pagedgrid-component-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pagedgrid-component-pagination-info {
  display: inline-block;
  line-height: 28px;
  margin: 18px 10px;
}
