@import url('../../styles/variable.css');

.aui--pill {
  display: inline-flex;
  align-items: center;
  border: 1px solid $color-border-base;
  user-select: none;
  font-weight: $font-weight-bold;
  line-height: 1;
  color: $color-text-base;
  background-color: $color-white;
}

.aui--pill-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aui--pill-clickable:hover,
.aui--pill-clickable:focus {
  background-color: $color-grey-200;
  cursor: pointer;
}

.aui--pill-small {
  padding: 2px 5px;
  font-size: $font-size-small;
  border-radius: $border-radius-base;
  line-height: 1;
}

.aui--pill-small .aui--svg-symbol-component {
  width: 12px;
  height: 12px;
}

.aui--pill-medium {
  padding: 5px 12px;
  font-size: $font-size-base;
  border-radius: $border-radius-round;
}

.aui--pill-large {
  padding: 6px 20px;
  font-size: $font-size-medium;
  border-radius: $border-radius-round;
}
