@import '~styles/variable';

$padding-small: 2px 5px;
$padding-medium: 5px 12px;
$padding-large: 6px 20px;

$font-size-small: $font-size-small;
$font-size-medium: $font-size-base;
$font-size-large: $font-size-subheader;

$border-radius-small: 4px;
$border-radius-medium: 12px;
$border-radius-large: 999px;

.aui--pill {
  display: inline-flex;
  align-items: center;
  border: 1px solid $color-status-light;
  user-select: none;
  font-weight: $font-weight-bold;
  line-height: 1;
  color: $color-gray-darker;
  background-color: $color-background;

  &-children {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-clickable {
    &:hover,
    &:focus {
      background-color: $color-background-highlighted;
      cursor: pointer;
    }
  }

  &-small {
    padding: $padding-small;
    font-size: $font-size-small;
    border-radius: $border-radius-small;
    line-height: 1;

    .aui--svg-symbol-component {
      width: 12px;
      height: 12px;
    }
  }

  &-medium {
    padding: $padding-medium;
    font-size: $font-size-medium;
    border-radius: $border-radius-medium;
  }

  &-large {
    padding: $padding-large;
    font-size: $font-size-large;
    border-radius: $border-radius-large;
  }
}
