@import '../color';
@import '../font-weight';

.category-search-component {
  display: flex;
}

.category-search-component-dropdown.Select {
  $border-radius: 2px;
  flex: 0 0 auto;

  > .Select-control.Select-control { // Specificity hack
    border-color: $color-border-lighter;
    border-radius: $border-radius 0 0 $border-radius;
    box-shadow: none;
    height: 32px;
    width: auto;

    > .Select-value {
      cursor: pointer;
      font-weight: $font-weight-bold;
      line-height: 30px;
      padding-left: 10px;
      padding-right: 4px;
      position: static;
    }

    > .Select-value > .Select-value-label {
      color: $color-text-label !important;
    }

    > .Select-input {
      // react-select applies an inline style of
      // "display: inline-block" that can only be
      // overridden by using !important here
      display: block !important;
      height: 0;
    }

    > .Select-arrow-zone {
      padding-top: 6px;
    }
  }

  > .Select-menu-outer {
    max-height: none;
    width: auto;

    > .Select-menu {
      max-height: none;
      width: auto;
    }

    > .Select-menu > .Select-option {
      white-space: nowrap;
      padding: 4px 10px;
      min-width: 175px;
    }
  }
}

.category-search-component-text-input {
  &.form-control {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top-left-radius: 0;
    flex: 1;
    height: 32px;
    padding: 4px 10px;
  }
}

.category-search-component-button {
  flex: 0 0 auto;

  .svg-symbol-component {
    fill: $color-text-inverse;
  }
}
