@import '../color';

.filepicker-component {
  &-highlight {
    border: 1px solid $color-border-error;
    border-radius: 2px;
    padding: 1px;
  }

  .remove-file  {
    background-color: $color-disabled;
    border: 0;
    box-shadow: none;
    height: 28px;
    margin-right: 0;
  }

  .file-input {
    display: none;
  }
}

.has-error {
  .filepicker-component {
    .form-control {
      border: 0; // Error style is applied to .filepicker-component-highlight
    }
  }
}
