@import '../border';

.listpickerpure-component {
  display: flex;
  flex-direction: column;

  .grid-component-cell {
    &-toggle,
    &-addon,
    &-header-toggle,
    &-header-addon {
      flex-basis: 10%;
      justify-content: center;
    }

    &-toggle,
    &-addon {
      align-items: center;
      display: flex;
    }

    &-header-toggle,
    &-header-addon {
      text-align: center;
    }
  }

  .empty-component {
    border-bottom: $border-lighter;
  }

  .grid-component-row {
    &:last-child {
      border-bottom: 0;
    }
  }
}
