@import '../border';

.listpickerpure-component {
  display: flex;
  flex-direction: column;

  .grid-component-cell-header-right {
    text-align: right;
  }

  .grid-component-cell-toggle {
    align-items: center;
    display: flex;
  }

  .empty-component {
    border-bottom: $border-lighter;
  }

  .grid-component-row {
    &:last-child {
      border-bottom: 0;
    }
  }
}
