@import '../border';
@import '../color';
@import '../fontWeight';

$listpicker-split-height: 400px;
$listpicker-header-height: 37px;

.listpicker-component {
  &-body-split {
    display: flex;
    height: $listpicker-split-height;

    .listpickerpure-component {
      .grid-component {
        .grid-component-row-header {
          border-bottom: $border-lighter;
        }
      }

      &-items {
        max-height: $listpicker-split-height - $listpicker-header-height;
        overflow: auto;
        overflow-x: hidden;

        .grid-component {
          border-top: 0;
        }
      }
    }
  }

  &-footnote {
    margin-top: 10px;
  }

  .grid-component {
    &-row {
      &:last-child {
        border-bottom: 0;
      }
    }

    &-cell-label {
      color: $color-gray;
      width: 120px;
    }
  }

  .flexible-spacer-component {
    border-top: 0;
  }

  .empty-component {
    border-bottom: 0;
  }
}
