@import '../border';
@import '../color';
@import '../font-weight';
@import '../icon';

.panel-component {
  $transition-duration: 250ms;
  $transition-timing-function: ease-out;

  background-color: $color-panel-expanded;
  transition: background-color $transition-duration $transition-timing-function;

  ~ .panel-component {
    border-top: $border-lighter;
  }

  &-header {
    cursor: pointer;
    font-weight: $font-weight-bold;

    &::before {
      background: $icon-chevron no-repeat;
      content: ' ';
      float: right;
      height: $icon-size;
      transition: transform $transition-duration $transition-timing-function;
      width: $icon-size;
    }

    .svg-symbol-component {
      float: left;
      height: $icon-size-large;
      margin-right: 10px;
      position: relative;
      top: -3px;
      width: $icon-size-large;
    }
  }

  &-content {
    font-weight: $font-weight-medium;
  }

  &-header,
  &-content {
    padding: 20px;
  }

  &.collapsed {
    background-color: $color-panel-collapsed;

    .panel-component-header {
      &::before {
        transform: rotate(180deg);
      }
    }

    .panel-component-content {
      display: none;
    }
  }
}

.card-component-content {
  $border-radius: 5px;

  .panel-component {
    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}
