@import '../variable';

.splitpane-component {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  width: 50%;

  & + & {
    margin-left: $spacing-etalon;
  }

  > .grid-component {
    overflow: auto;
  }
}
