@import '../variable';

.treepickerpane-component {
  display: flex;
  flex-basis: 50%;
  flex-flow: column nowrap;

  & + & {
    margin-left: $spacing-etalon;
  }

  > .grid-component {
    overflow: auto;
  }
}
