@import '../border';

.treepickernav-component {
  border-left: $border-lighter;
  border-right: $border-lighter;
  min-height: 66px; // Fix Chrome rendering bug when the node list is longer than one page.
  padding: 10px;

  > div + div {
    margin-top: 10px;
  }

  > .breadcrumb-component {
    padding-left: 2px;
  }
}
