@import '../variable';

.treepickerselected-component {
  $header-height: 31px;

  &-header {
    font-size: $font-size-subheader;
    font-weight: $font-weight-bold;
    line-height: $header-height;
    margin: 0;
  }

  &-scrollable {
    $base-item-grid-height: 36px;
    $totals-component-height: 50px;
    $scrollable-height: $treepicker-height - $header-height - $base-item-grid-height - $totals-component-height;

    display: flex;
    flex-direction: column;
    height: $scrollable-height;
    overflow: auto;

    &.is-short {
      $alert-height: 40px;

      height: $scrollable-height - $alert-height;
    }

    // First rootType Grid
    .grid-component {
      &:first-child {
        border-top: 0;
      }
    }

    // Totals Grid
    + .grid-component {
      border-top: 0;
    }
  }

  .empty-component {
    border-left: $border-lighter;
    border-right: $border-lighter;
    width: 100%;
  }
}
