@import '../color';
@import '../icon';
@import '../fontSize';

.treepickernode-component {
  &:hover {
    background-color: $color-gray-white;

    .treepickernode-component-expander {
      background-image: $icon-folder-open;
    }
  }

  &-expander {
    background-image: $icon-folder-closed;
    height: $icon-size;
    width: $icon-size;
  }

  &-metadata {
    color: $color-text-light;
  }

  .grid-component-cell-button {
    min-width: 40px;
    padding-bottom: 7px;
    padding-top: 7px;

    .btn-xs {
      font-size: 15px;
      line-height: 14px; // Inner Cell Height
    }
  }
}
