.userlistpicker-component {
  $avatar-diameter: 35px;

  &-user-label {
    .avatar-component {
      margin-right: 10px;
    }
  }

  .grid-component-cell-toggle {
    line-height: $avatar-diameter;
  }
}
