@import '~styles/color';

.aui--filepicker-component {
  &-highlight {
    border: 1px solid $color-border-error;
    border-radius: 2px;
    padding: 1px;
  }

  .remove-file  {
    background-color: $color-disabled;
    border: 0;
    box-shadow: none;
    height: 28px;
    margin-right: 0;
  }

  .select-file.btn {
    box-shadow: none;
    padding-bottom: 4px;
    z-index: 3;
  }

  .file-input {
    display: none;
  }

  .form-control {
    border: 0;
    cursor: not-allowed;

    &.clickable {
      cursor: pointer;
    }
  }
}

