@import url('../../styles/variable.css');

.filepicker-component-highlight {
  border: 1px solid $color-red-600;
  border-radius: $border-radius-base;
  padding: 1px;
}

.filepicker-component .aui--button.remove-file {
  background-color: $color-grey-300;
  border: 0;
  margin-right: 0;
}

.filepicker-component .file-input {
  display: none;
}

.filepicker-component .aui--button:focus {
  background-color: inherit;
}

.filepicker-component .input-group-btn {
  display: inline-flex;
  width: auto;
}

.filepicker-component .input-group-btn > .aui--button {
  min-height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.has-error .filepicker-component .form-control {
  border: 0;
}
