@import url('../../styles/variable.css');

.filepicker-component-highlight {
  border: 1px solid $color-red-600;
  border-radius: $border-radius-base;
  padding: 1px;
}

.filepicker-component {
  font-size: 14px;
  line-height: 1;
  height: 42px;
  display: flex;
  border: 1px solid $color-border-base;
  border-radius: $border-radius-base;

  & .aui-file-input {
    background-color: $color-default-accent;
    padding: 12px;
    border: 0;
    outline: 0;
    width: 100%;
  }

  & .input-group-btn {
    display: inline-flex;
    align-items: center;
    width: auto;

    & .aui--button {
      font-size: 14px;
      margin: 0;
      border: 0;
      border-radius: 0;
      height: 100%;
    }

    & .remove-file {
      font-size: 18px;
      font-weight: $font-weight-normal;
      background-color: $color-default-accent;
    }
  }

  & .hidden-input {
    display: none;
  }
}
