@import '~styles/color';

.filepicker-component {
  &-highlight {
    border: 1px solid $color-border-error;
    border-radius: 2px;
    padding: 1px;
  }

  .aui--button.remove-file {
    background-color: $color-disabled;
    border: 0;
    margin-right: 0;
  }

  .file-input {
    display: none;
  }

  .aui--button {
    &:focus {
      background-color: inherit;
    }
  }
}

.has-error {
  .filepicker-component {
    .form-control {
      border: 0; // Error style is applied to .filepicker-component-highlight
    }
  }
}
