@import '~styles/color';
@import '~styles/icon';
@import '~styles/font-size';

.treepickernode-component {
  &:hover {
    background-color: $color-gray-white;

    .treepickernode-component-expander {
      background-image: $icon-folder-open;
    }
  }

  &-expander {
    background-image: $icon-folder-closed;
    height: $icon-size;
    width: $icon-size;
  }

  &-metadata {
    color: $color-text-light;
  }

  .grid-component-cell-button {
    $cell-button-vertical-padding: 7px;
    padding-bottom: $cell-button-vertical-padding;
    padding-top: $cell-button-vertical-padding;

    .btn-xs {
      $button-size: 20px;
      font-size: 15px;
      height: $button-size;
      line-height: 14px; // Inner Cell Height
      width: $button-size;
    }
  }

  label {
    margin-bottom: 0;
  }

  .spinner-component > .spinner {
    margin-bottom: -4px;
  }
}
