@import url('../../styles/variable.css');

.grid-component {
  border-left: 1px solid $color-border-base;
  border-right: 1px solid $color-border-base;
  border-top: 1px solid $color-border-base;
  box-sizing: border-box;
  display: inline-block;
  flex-shrink: 0;
  font-size: $font-size-base;
  line-height: 1.5;
  vertical-align: top;
  width: 100%;
}

.grid-component-row-vertical-cell-border .grid-component-cell {
  border-right: 1px solid $color-border-base;
}

.grid-component-row-vertical-cell-border .grid-component-cell:last-child {
  border-right: 0;
}

.grid-component + .grid-component {
  border-top: 0;
}
