@import '~styles/variable';

.adslot-ui-header {
  > .pagetitle-component {
    background: $color-background;

    .svg-symbol-component {
      width: 156px;
      height: 30px;
    }

    img {
      margin-bottom: 10px;
    }
  }
}
