@import '~styles/variable';

body {
  font-family: $font-family-sans-serif;
  margin: 0;
}

.adslot-ui-layout {

  .adslot-ui-body {
    display: flex;
    flex-direction: row;
    padding: $spacing-etalon;
  }

  .adslot-ui-proptype-table {
    pre {
      display: inline;
    }
  }
}

.adslot-ui-sidebar-area {
  margin-right: $spacing-etalon;
  flex: 0 1 1;
}

.adslot-ui-content-area {
  flex: 1;

  > .pagetitle-component {
    margin: $spacing-etalon auto;
    padding-left: 0;
  }

  > .migration-docs {
    font-size: $font-size-header;
  }
}

.note-panel {
  // sass-lint:disable no-color-literals
  background: none rgb(253, 253, 253); // to match react-syntax-highlighter coy
  // sass-lint:enable no-color-literals

  ~ .note-panel {
    margin-top: 10px;
  }

  pre {
    display: inline;
  }

  .text {
    &-blue {
      color: $color-blue;
    }

    &-cyan {
      color: $color-cyan;
    }

    &-green {
      color: $color-green;
    }

    &-gray-light {
      color: $color-gray-light;
    }

    &-gray-dark {
      color: $color-gray-dark;
    }

    &-red {
      color: $color-red;
    }

    &-orange {
      color: $color-orange;
    }

    &-bold {
      font-weight: $font-weight-bold;
    }
  }
}
