@import url('../../styles/variable.css');

.aui--toast-container {
  min-width: 252px;
  max-width: 720px;
  width: unset;
  padding: 0;

  & .aui--toast-notification-body {
    background-color: $color-grey-800;
    border-radius: 4px;
    margin: 0;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    font-size: 14px;
    color: $color-white;

    & .Toastify__close-button {
      all: unset;
      display: flex;
    }

    & .aui--toast-title {
      font-weight: $font-weight-bold;
      font-size: $font-size-medium;
      margin-right: 12px;
    }

    & .aui--toast-title-info {
      color: $color-info-base;
    }

    & .aui--toast-title-success {
      color: $color-success-base;
    }

    & .aui--toast-title-alert {
      color: $color-warning-base;
    }

    & .aui--toast-title-attention {
      color: $color-danger-base;
    }
  }
}
