.aui--switch-label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.aui--switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.aui--switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.4s;
  border-style: solid;
  border-color: #ababab;
  border-width: thin;
}

.aui--switch-slider::before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  margin-left: 3px;
  margin-top: 3px;
  background-color: #006dcc;
  transition: 0.4s;
}

input:checked + .aui--switch-slider {
  background-color: #e0f0ff;
}

input:checked + .aui--switch-slider::before {
  transform: translateX(20px);
}

input:disabled + .aui--switch-slider {
  background-color: #d3d3d3;
}

input:disabled + .aui--switch-slider::before {
  background-color: #838383;
}

.aui--switch-slider.round {
  border-radius: 34px;
}

.aui--switch-slider.round::before {
  border-radius: 50%;
}
