@import url('../../styles/variable');

@keyframes fade-default {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.aui--paragraph {
  margin: 0;
  font-size: 14px;

  & .expandable-content {
    overflow: hidden;
    transition: height 400ms ease;
  }

  & .paragraph-content {
    display: flex;
    flex-direction: column;
  }

  & .paragraph-fade-bottom {
    mask-image: linear-gradient(to bottom, $color-black 50%, transparent 100%);
  }

  & .aui--paragraph-read-more {
    padding: 4px 0;

    &.aui--button.btn-link {
      &:focus {
        color: $color-primary-base;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
