@import '../../styles/border';
@import '../../styles/font-size';
@import '../../styles/variable';

.pagetitle-component {
  border-bottom: $border-lighter;
  box-sizing: content-box;
  font-size: $font-size-header;
  height: $spacing-etalon;
  line-height: $spacing-etalon;
  padding: ($spacing-etalon / 1.5) $spacing-etalon;

  &-is-footer {
    border-top: $border-lighter;
    border-bottom: 0;
    color: $color-text-label;
    font-size: $font-size-base;
  }

  small {
    font-size: $font-size-small;
  }
}
