@import url('../../styles/variable.css');

.pagetitle-component {
  border-bottom: 1px solid $color-border-base;
  box-sizing: content-box;
  font-size: $font-size-large;
  height: 30px;
  line-height: 30px;
  padding: 20px 30px;
}

.pagetitle-component-is-footer {
  border-top: 1px solid $color-border-base;
  border-bottom: 0;
  color: $color-grey-600;
  font-size: $font-size-base;
}

.pagetitle-component small {
  font-size: $font-size-small;
}
