@import url('../../../styles/variable.css');

.grid-component-row {
  border-bottom: 1px solid transparent;
  display: flex;
}

.grid-component-row-header {
  color: $color-grey-600;
}

.grid-component-row-short .grid-component-cell {
  padding-bottom: 3px;
  padding-top: 3px;
}

.grid-component-row-subfooter {
  background-color: $color-grey-100;
  color: $color-grey-600;
}

.grid-component-row-subfooter .grid-component-cell:last-child {
  color: $color-text-base;
}

.grid-component-row-footer {
  font-weight: $font-weight-bold;
}

.grid-component-row-horizontal-border,
.grid-component-row:last-child {
  border-bottom-color: $color-grey-300;
}
