@import '~styles/color';
@import '~styles/border';
@import '~styles/font-weight';

.grid-component-row {
  border-bottom: 1px solid transparent;
  display: flex;

  &-header {
    color: var(--color-text-light);
  }

  &-subfooter {
    background-color: var(--color-gray-white);
    color: var(--color-text-light);

    .grid-component-cell {
      &:last-child {
        color: var(--color-text-base);
      }
    }
  }

  &-footer {
    font-weight: $font-weight-bold;
  }

  &-short {
    .grid-component-cell {
      padding-bottom: 3px;
      padding-top: 3px;
    }
  }

  &-horizontal-border,
  &:last-child {
    border-bottom-color: var(--color-border-lighter);
  }
}
