@import url('../../styles/variable');

$border-radius: 6px;
$gap: 12px;
$focus-ring:
  0 0 0 2px #fff,
  0 0 0 4px $color-grey-700;

.aui--radio-group {
  display: flex;
  flex-flow: row wrap;
  gap: $gap;

  &.is-default {
    align-items: flex-start;
  }

  &.is-vertical {
    flex-direction: column;
  }

  & > .aui--radio-box {
    &:focus-visible {
      outline: none;
      box-shadow: $focus-ring;

      & .aui--radio-input-icon {
        box-shadow: none;
      }
    }
  }

  & > .aui--radio-default {
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  & div.aui--radio-box {
    flex: 1;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: left;
    border-radius: $border-radius;

    & .aui--radio-label-container {
      height: 100%;
      padding: calc($grid-base-space * 1.5);
      border-radius: $border-radius;
      border-width: 1px;
      border-style: solid;
      border-color: $color-grey-300;
      transition: 150ms ease;
      background-color: $color-white;
      gap: 10px;
    }

    &.is-disabled {
      & .aui--radio-label-container {
        cursor: default;
        border-color: $color-grey-300;
      }
    }

    &.is-selected {
      & .aui--radio-label-container {
        border-color: $color-grey-600;
      }
    }

    & .aui--radio-label {
      margin-left: 0;
      display: flex;
      align-items: flex-start;
      gap: $grid-base-space;
    }

    & .aui--radio-label-text {
      margin-bottom: 9px;
      margin-top: 0;
      font-size: $font-size-medium;
      font-weight: bold;
    }

    &:not(.has-text) {
      & .aui--radio-label-container {
        align-items: center;
      }

      & .aui--radio-label-text {
        margin-bottom: 0;
      }

      & .aui--radio-label {
        align-items: center;
      }
    }

    &.is-disabled:not(.is-selected) {
      & .aui--radio-label-container {
        background-color: $color-grey-200;
      }
    }

    &:hover:not(.is-disabled) {
      & .aui--radio-label-container {
        background-color: $color-grey-200;
      }
    }

    &:active:not(.is-disabled) {
      & .aui--radio-label-container {
        border-color: $color-grey-400;
      }
    }

    & .aui--radio {
      height: 100%;
    }

    & .aui--radio-icon {
      display: flex;
    }
  }
}
