.aui--searchable-checklist .aui--searchable-list-container {
  display: inline-block;
}

.aui--searchable-checklist .aui--searchable-list-container .title {
  font-weight: 700;
  margin-bottom: 10px;
}

.aui--searchable-checklist .aui--searchable-list-container .search-box {
  margin-bottom: 10px;
}

.aui--searchable-checklist .aui--searchable-list-container .main-checkbox {
  margin-bottom: 6px;
}

.aui--searchable-checklist .aui--searchable-list-container .items-container {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.aui--searchable-checklist .aui--searchable-list-container .footer {
  color: #ababab;
}

.aui--searchable-checklist .aui--searchable-list-container .items-container .aui--checkbox-group .aui--checkbox {
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.aui--searchable-checklist
  .aui--searchable-list-container
  .items-container
  .aui--checkbox-group
  .aui--checkbox
  .aui--checkbox-label {
  max-width: calc(100% - 20px);
}
