@import url('../../styles/variable.css');

.aui--searchable-checklist .aui--searchable-list-container {
  display: inline-block;
}

.aui--searchable-checklist .aui--searchable-list-container .title {
  font-weight: $font-weight-bold;
  margin-bottom: 10px;
}

.aui--searchable-checklist .aui--searchable-list-container .search-box {
  margin-bottom: 10px;
}

.aui--searchable-checklist .aui--searchable-list-container .main-checkbox {
  margin-bottom: 6px;
}

.aui--searchable-checklist .aui--searchable-list-container .items-container {
  max-height: 125px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.aui--searchable-checklist .aui--searchable-list-container .footer {
  color: $color-grey-500;
}
