@import './bootstrap-custom';
@import './icon';
@import '../../node_modules/react-datepicker/dist/react-datepicker.css';

.react-datepicker {
  $datepicker-font-family: $font-family-sans-serif;
  $datepicker-font-weight: $font-weight-light;
  $datepicker-font-size: $font-size-base;
  $datepicker-icon-size: 24px;
  $datepicker-border-color: $color-border-light;
  $datepicker-border-radius: $border-radius-base;
  $datepicker-header-bg-color: $popover-bg;
  $datepicker-selected-bg-color: $color-primary;
  $datepicker-hover-bg-color: $color-gray-lighter;
  $datepicker-color-disabled: $color-disabled;

  border-color: $datepicker-border-color;
  box-shadow: 0 2px 0 $color-modal-shadow;
  font-family: $datepicker-font-family;
  font-size: $datepicker-font-size;
  font-weight: $datepicker-font-weight;
  padding: 8px;

  &__header {
    background-color: $datepicker-header-bg-color;
    border-bottom: 0;
  }

  &,
  &__day,
  &__day-name {
    color: $color-text-form;

    &:hover {
      border-radius: $datepicker-border-radius;
    }

    &--outside-month,
    &--disabled {
      color: $datepicker-color-disabled;
    }

    &--selected {
      background-color: $datepicker-selected-bg-color;
      color: $color-inverse;

      &,
      &:hover {
        border-radius: $datepicker-border-radius;
      }
    }

    &__day--in-range {
      color: $color-inverse;
    }
  }

  &__current-month {
    color: $color-text-form;
    font-weight: $datepicker-font-weight;
  }

  &__navigation {
    height: $datepicker-icon-size;
    top: 5px;
    width: $datepicker-icon-size;
  }

  &__navigation--next {
    border: 0;
    right: 7px;

    &:hover {
      background-color: $datepicker-hover-bg-color;
      border-radius: $datepicker-border-radius;
    }

    &::before {
      background-image: $icon-arrow-bracket;
      background-position: center center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: $datepicker-icon-size;
      transform: scaleX(-1);
      width: $datepicker-icon-size;
    }
  }

  &__navigation--previous {
    border: 0;
    left: 7px;

    &:hover {
      background-color: $datepicker-hover-bg-color;
      border-radius: $datepicker-border-radius;
    }

    &::before {
      background-image: $icon-arrow-bracket;
      background-position: center center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: $datepicker-icon-size;
      width: $datepicker-icon-size;
    }
  }

  &__tether-element-attached-top {
    &.react-datepicker__tether-element {
      margin-top: -5px;
    }
  }

  &__tether-element-attached-top &__triangle,
  &__tether-element-attached-bottom &__triangle {
    &,
    &::before {
      border: 0;
    }
  }

  &__tether-element-attached-bottom {
    &.react-datepicker__tether-element {
      margin-top: -15px;
    }
  }

  &__input-container {
    display: block;

    input {
      background-image: $icon-calendar;
      background-origin: content-box;
      background-position: center right;
      background-repeat: no-repeat;
      cursor: pointer;
      padding-right: 4px;

      &::-ms-clear {
        display: none;
      }
    }
  }
}
