// For display of components during development.
// This is not distributed.
@import 'variable';


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-bottom: 400px;
}

.index {

  margin: 0 auto;
  max-width: 960px;
  min-width: 300px;
  padding: 0 $spacing-etalon $spacing-etalon;

  > h1 {
    margin-bottom: $spacing-etalon;
    margin-top: ($spacing-etalon * 2);
   }

  > .btn-panel + .btn-panel {
    margin-top: $spacing-etalon;
  }

  > br {
    line-height: $spacing-etalon;
  }
}
