@import 'components/Button';
@import 'components/Tab';

// Overall UI Library Styles
body {
  font-family: 'Roboto', sans-serif;

  h1 {
    margin: 40px 40px 0;
  }

  .btn-panel {
    margin: 40px;
  }
}
