// Hues (Primary Palette)
@import '../../system/dist/styles/color';

$color-blue-light: #e0f0ff;
$color-blue: #006dcc;
$color-blue-dark: #1950a3;

$color-green: #5bb75b;
$color-green-dark: #31a549;

$color-red: #da4f49;
$color-red-dark: #d5382e;

$color-orange: #faa732;
$color-orange-dark: #f8951d;

$color-cyan: #49afcd;
$color-cyan-dark: #0492ba;

// Tones (Secondary Palette)

$color-white: #fff;
$color-black: #000;
$color-black-blockout: #202124;

// Status Colors
$color-status-blue: #00adee;
$color-status-green: #95c83d;
$color-status-red: $color-red;
$color-status-orange: #f93;
$color-status-light: var(--color-gray-lighter);

$color-status-light-orange: #fec985;
$color-status-light-red: #f9b7b0;
$color-status-light-blue: #c1e1ec;
$color-status-light-green: #c5e6dc;

// Usage: Use these values, not the colors directly

// Informative
$color-primary: $color-blue;
$color-primary-selected: $color-blue-dark;

$color-positive: $color-green;
$color-positive-light: #eaf8ea;
$color-positive-selected: $color-green-dark;

$color-negative: $color-red;
$color-negative-light: #fbedec;
$color-negative-selected: $color-red-dark;

$color-pending: $color-orange;
$color-pending-selected: $color-orange-dark;
$color-warning: $color-orange;
$color-warning-light: #fef6ea;
$color-warning-selected: $color-orange-dark;

$color-info: $color-cyan;
$color-info-light: #e0f0ff;
$color-info-selected: $color-cyan-dark;

$color-disabled: var(--color-gray-lighter);
$color-disabled-selected: var(--color-gray-light);

$color-completed: var(--color-gray-dark);
$color-remaining: var(--color-gray-lighter);

$color-ended: var(--color-gray-darkest);
$color-ended-selected: $color-black;
$color-rejected: $color-black;

$color-placeholder: var(--color-gray-lighter);
$color-inverse: $color-white;
$color-background: $color-white;
$color-overlay: var(--color-gray-dark);

// Layout
$color-well: $color-white;
$color-background: $color-white;
$color-background-highlighted: var(--color-gray-lightest);

// Typography
$color-link-hover: $color-cyan-dark;
$color-link: $color-cyan;
$color-text-inverse: $color-white;
$color-text-addon: var(--color-gray-base);

// Borders
$color-border-error: $color-red-dark;

// Modal
$color-modal-shadow: $color-shadow-base;

// Panel
$color-panel-expanded: $color-white;
$color-panel-collapsed: var(--color-gray-white);

// Carousel
$color-carousel-button: rgba(var(--color-gray-darkest), 0.5);

// Help
$color-help: var(--color-gray-base);

// Switch
$color-light-green: #def1de;
$color-dark-green: #5bb75b;
$color-light-red: #f8dcdb;
$color-dark-red: #da4f49;

// Information Box
$color-infobox-primary: $color-info-light;
$color-infobox-success: $color-positive-light;
$color-infobox-warning: $color-warning-light;
$color-infobox-error: $color-negative-light;
$color-infobox-light: var(--color-gray-lightest);

// Button
$color-button-primary-background: $color-blue;
$color-button-primary-border: #005fb3;
$color-button-success-background: #5cb85c;
$color-button-success-border: #4cae4c;
$color-button-info-background: #49afcd;
$color-button-info-border: #36a5c6;
$color-button-warning-background: #f0ad4e;
$color-button-warning-border: #eea236;
$color-button-danger-background: #d9534f;
$color-button-danger-border: #d43f3a;
$color-button-link-color: #337ab7;
$color-button-default-hover-background: var(--color-gray-light);
$color-button-default-hover-border: var(--color-gray-lighter);

// Loading Skeleton
$color-skeleton-base: var(--color-gray-lighter);
$color-skeleton-highlight: var(--color-gray-lightest);
