@import './icon';

@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin svg-icon($uri, $width: $icon-size, $height: $icon-size) {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url($uri);
}

@mixin aui--button-variant($color, $background, $border) {
  $focus-ring-color: map-get($colors, 'default');

  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus-visible {
    border-color: $color-inverse;
    box-shadow: 0 0 0 2px $focus-ring-color;
  }

  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
