@import '~styles/icon';

@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin svg-icon($uri, $width: $icon-size, $height: $icon-size) {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url($uri);
}

@mixin aui--button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover {
    color: $color;
    background-color: scale-color($background, $lightness: -10%);
    border-color: scale-color($border, $lightness: -12%);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: scale-color($background, $lightness: -10%);
    background-image: none;
    border-color: scale-color($border, $lightness: -12%);

    &:hover {
      color: $color;
      background-color: scale-color($background, $lightness: -17%);
      border-color: scale-color($border, $lightness: -25%);
    }
  }

  &.disabled,
  &[disabled] & {
    &:hover {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}
