@import url('../../system/tokens/styles/tokens.css');

$line-height-base: 1.5;
$font-family-sans-serif: roboto, helvetica, sans-serif;
$font-family-serif: georgia, serif;
$font-family-monospace: monaco, consolas, 'Courier New', monospace;

$spacing-etalon: 30px;
$padding-base-horizontal: 8px;
$svg-icon-size: 16px;
$grid-base-space: 12px;

$color-background: $color-white;
$color-link: $color-cyan-500;
$color-link-hover: $color-cyan-600;

$modal-sm: 525px;
$modal-md: 700px;
$modal-lg: 940px;
