.empty-component {
  cursor: default;
  margin: 0 auto;
  padding: 60px;
  text-align: center;
  user-select: none;
}
.empty-component-text {
  color: #ababab;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
  white-space: pre-wrap;
}
