@import url('../../styles/variable.css');

.spinner-component {
  display: inline-flex;
  align-items: center;

  & .spinner {
    animation: rotation 1.1s infinite linear;
    border-radius: 100%;
    border-style: solid;
    border-color: $color-grey-600;
    border-top-color: $color-grey-400;

    &.spinner-small {
      border-width: 2px;
      height: 16px;
      width: 16px;
    }

    &.spinner-medium {
      border-width: 3px;
      height: 30px;
      width: 30px;
    }

    &.spinner-large {
      border-width: 3px;
      height: 40px;
      width: 40px;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
