@import '~styles/color';
@import '~styles/font-size';

.breadcrumb-component {
  $breadcrumb-height: 10px;
  color: $color-link;
  cursor: default;
  font-size: $font-size-body;
  height: $breadcrumb-height;
  line-height: $breadcrumb-height;

  &-link {
    cursor: pointer;

    &:hover,
    &:active {
      color: $color-link-hover;
      text-decoration: underline;
    }
  }

  &.breadcrumb-component--disabled {
    color: $color-text-disabled;
    pointer-events: none;
  }
}
