@import url('../../styles/variable.css');

.aui--select {
  font-size: 14px;
  min-width: 216px;

  & .caret-icon {
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../styles/icons/caret.svg');
  }

  & .aui--select__value-container--is-multi {
    padding: 6px 0;
    gap: 6px;
  }
}
