@import url('../../styles/variable.css');

.select-component {
  font-size: 14px;

  & .caret-icon {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../styles/icons/caret.svg');
  }
}
