@import url('../../styles/variable.css');

.select-component .caret-icon {
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../styles/icons/caret.svg');
}

.select-component .css-oeuhkd-control {
  border-color: $color-grey-300;
  border-radius: $border-radius-base;
}
