@import url('../../styles/variable');

.count-badge {
  display: inline-block;
  width: $svg-icon-size;
  height: $svg-icon-size;
  border-radius: 50%;
  border-width: 1px;
  border-color: $color-white;
  border-style: solid;
  background-color: $color-grey-600;
  color: $color-white;
  text-align: center;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-bold;
  box-sizing: content-box;
  line-height: 17px;

  &.status-info {
    background-color: $color-primary-base;
  }

  &.status-warning {
    background-color: $color-warning-base;
  }

  &.status-danger {
    background-color: $color-danger-base;
  }

  &.status-light {
    background-color: $color-default-base;
  }

  &.count-badge-font-size-small {
    font-size: 8px;
  }
}
