@import '~styles/variable';
@import '~styles/mixin';

@mixin accent($id, $color-accent) {
  .tag-component-accent {
    &.accent-#{$id} {
      border-color: $color-accent;

      &:not(.tag-component-inverse) {
        background-color: $color-accent;
      }

      &.tag-component-inverse {
        color: $color-accent;
        fill: $color-accent;
      }
    }
  }
}

@include accent('positive', $color-positive);
@include accent('pending', $color-pending);
@include accent('negative', $color-negative);

.adslot-ui-example-container {
  &.alert-input-example {
    .adslot-ui-example {
      display: flex;
      flex-direction: column;
      width: 270px;

      .flexible-spacer-component {
        height: 12px;
        border: 0;
      }

      .adslot-ui-example__options {
        display: flex;
        margin-bottom: 6px;
      }
    }
  }

  &.button-example {
    .adslot-ui-example {
      display: flex;

      .aui--popover-element {
        margin-right: 12px;
      }
    }
  }

  &.accordion-panel-example,
  &.card-example {
    .adslot-ui-example {
      width: 240px;
    }
  }

  &.file-picker-example,
  &.text-ellipsis-example,
  &.textarea-example,
  &.select-example,
  &.panel-example {
    .adslot-ui-example {
      width: 380px;
    }
  }

  &.totals-example,
  &.empty-example,
  &.search-example,
  &.search-bar-example,
  &.pretty-diff-example {
    .adslot-ui-example {
      width: 560px;
    }
  }

  &.switch-example {
    .component-heading {
      padding-top: 20px;
    }

    .component-container {
      padding-top: 10px;
    }
  }

  &.navigation-tabs-example {
    .adslot-ui-example {
      .dashboard-tab {
        border-color: $color-red-dark;
      }
    }
  }

  &.popover-example {
    .adslot-ui-example {
      .button-example-container {
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: space-between;

        .checkbox-component + .checkbox-component {
          margin-top: 0;
          margin-left: 5px;
        }

        .disabled-popover {
          display: flex;
          height: 28px;

          .checkbox-component {
            margin-top: 1px;
          }

          .aui--button {
            position: relative;
            left: 5px;
            top: -5px;
          }
        }
      }

      .popover {
        position: relative;
        margin: 20px;
      }

      .auto-flip-container {
        width: 500px;
        height: 250px;
        border: 1px solid var(--color-border-light);
        overflow: hidden;
        overflow-x: scroll;

        .popover-example-container {
          width: 600px;
          position: relative;
          top: 50px;
          left: 250px;

          > .aui--popover-element {
            top: 10px;
            left: 10px;
            position: relative;
          }
        }
      }
    }
  }

  &.popover-with-ref-example {
    .external-anchor {
      margin-top: 100px;
      width: 100px;
      height: 100px;
      border: $border-lighter;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.checkbox-example {
    h4 {
      margin-top: 20px;
      font-weight: bold;
    }

    .fix-size {
      width: 200px;
    }
  }

  &.status-pill-example {
    .aui--status-pill + .aui--status-pill {
      margin-left: 20px;
    }
  }

  &.button-group-example {
    .adslot-ui-example {
      display: flex;

      .aui--button-group {
        .aui--svg-symbol-component {
          position: relative;
          top: 3px;
          fill: $color-white;
        }

        .btn-inverse {
          .aui--svg-symbol-component {
            fill: $color-black;
          }
        }
      }
    }
  }

  &.overlay-loader-example {
    .static-markup {
      display: flex;
      margin-bottom: 50px;
      width: 300px;

      .aui--overlay-loader {
        position: inherit;

        .loader {
          position: inherit;
        }

        + .aui--overlay-loader {
          margin-right: 10px;
        }
      }
    }
  }

  &.vertical-navigation-tabs-example {
    .aui--vertical-navigation-component__menu-item {
      &.aui--vertical-navigation-component__menu-item-is-active {
        .menu-icon {
          border-radius: 50%;
          background-color: var(--color-gray-lighter);
        }
      }
    }

    .menu-content {
      display: flex;
      flex-direction: row;

      &:hover {
        .menu-icon {
          border-radius: 50%;
          background-color: var(--color-gray-lighter);
        }
      }

      .menu-icon {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px;

        .product-details-icon {
          @include svg-icon('~styles/icons/details.svg', 24px, 24px);
        }

        .burger-icon {
          @include svg-icon('~styles/icons/burger.svg', 24px, 24px);
        }
      }

      .menu-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px;
      }
    }
  }

  &.tree-picker-example {
    .selected-search {
      padding: 10px 10px 30px;
      border: $border-lighter;
      border-bottom: 0;
    }
  }
}

.full-width {
  width: 100%;
}

.horizontal-separator {
  width: 12px;
}

.vertical-separator {
  height: 12px;
}
