@import '~styles/color';
@import '~styles/variable';

.information-box {
  background-color: $color-background-highlighted;
  padding: $spacing-etalon;
  color: $color-text-label;
  display: inline-flex;
  align-items: center;
  width: 100%;

  &-text {
    padding-left: 20px;
    flex-grow: 1;
  }

  &-title {
    font-size: $font-size-subheader;
    font-weight: $font-weight-bold;
    color: $color-gray-darker;
  }

  &-icon {
    $information-box-icon-size: 70px;

    background-color: $color-background;
    width: $information-box-icon-size;
    height: $information-box-icon-size;
    border-radius: $border-radius-circle;
    text-align: center;
    overflow: hidden;
  }
}
