@import '~styles/color';
@import '~styles/border';
@import '~styles/font-size';
@import '~styles/font-weight';

$tile-width: 200px;
$tile-height: 120px;
$tile-side-padding: 30px;
$tile-horizontal-padding: 15px;
$tile-image-width: 140px; // leave 2px for border
$tile-image-height: 88px; // leave 2px for border

.aui--tile {
  width: $tile-width;
  height: $tile-height;
  position: relative;
  border: 1px solid $color-gray-lighter;
  background-color: $color-white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-heavy;

  &-logo {
    padding: 0;
    overflow: hidden;
    max-width: $tile-image-width;
    max-height: $tile-image-height;

    img {
      // 140 * 88
      max-width: $tile-image-width;
      max-height: $tile-image-height;
    }
  }

  &-title {
    $text-shadow: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: $color-text-base;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-header;
    font-weight: $font-weight-bold;
    line-height: 1;
    padding: 18px;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    text-shadow: 0 0 2px $text-shadow; // increase contrast of text against background

    &:hover,
    &:focus {
      color: $color-text-base;
      text-decoration: none;

      &::after {
        background-color: $color-overlay;
        border-radius: $border-radius-heavy;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        opacity: 0.2;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }
    }
  }
}
