/*
  Storybook docs UI overrides

  NB: this file is loaded inside the story iframe.
  To modify global (sidebar/toolbar) css, edit storybook-global.css
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.sbdocs {
  & h1 {
    margin: 0;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid;
    display: flex;
  }
}
