@import '~styles/color';
@import '~styles/border';
@import '~styles/font-size';
@import '~styles/font-weight';

.card-component {
  $card-padding-etalon: 20px;
  $card-spacing-etalon: 28px;

  font-size: $font-size-body;
  margin-bottom: $card-spacing-etalon;
  min-height: 40px;
  min-width: 205px;

  &-grid-container {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    margin-right: -$card-spacing-etalon;

    .card-component {
      margin-right: $card-spacing-etalon;
    }
  }

  .flexible-spacer-component {
    border: 0;
  }

  &-content-container {
    background-color: $color-background;
    border: $border-lighter;
    border-radius: $border-radius-heavy;
    box-shadow: 0 2px 0 $color-shadow-light;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    height: 100%;

    .card-component-content {
      &:not(.fill) {
        &:last-child {
          padding-bottom: $card-padding-etalon;
        }
      }
    }
  }

  &.accent {
    .card-component-content-container {
      border-bottom-width: 5px;
    }
  }

  &-content {
    padding: $card-padding-etalon $card-padding-etalon 0;

    &.append {
      color: $color-text-placeholder;
      font-weight: $font-weight-light;
      padding: 5px 1px 0;
    }

    &.stretch {
      padding-left: 0;
      padding-right: 0;
    }

    &.fill {
      padding: 0;
    }
  }
}
