.nav-borderless {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 0;
  height: 50px;
}
.nav-borderless > li {
  list-style-type: none;
  display: flex;
  flex-basis: 100px;
  text-align: left;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  outline: none;
  border-style: solid;
  border-color: #fff;
  border-width: 0;
  justify-content: center;
  align-items: center;
}
.nav-borderless > li:hover, .nav-borderless > li.active {
  border-color: #1950a3;
}
.nav-borderless > li > a {
  color: #5a5a5a;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-borderless > li.disabled {
  cursor: not-allowed;
  color: #ababab;
}
.nav-borderless > li.disabled a {
  cursor: not-allowed;
  color: #ababab;
}
.nav-borderless.stacked {
  flex-direction: column;
}
.nav-borderless.top-bar > li {
  margin-top: 3px;
}
.nav-borderless.top-bar > li:hover, .nav-borderless.top-bar > li.active {
  margin: 0;
  border-top-width: 3px;
}
.nav-borderless.bottom-bar > li {
  margin-bottom: 3px;
}
.nav-borderless.bottom-bar > li:hover, .nav-borderless.bottom-bar > li.active {
  margin: 0;
  border-bottom-width: 3px;
}
.nav-borderless.bottom-bar > li.disabled:hover, .nav-borderless.bottom-bar > li.disabled.active {
  border-bottom-color: transparent;
}
