@import '~styles/color';
@import '~styles/icon';

.aui--editor-root {
  border: 1px solid var(--color-gray-lighter);
  min-height: 245px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .aui--editor-container {
    padding: 20px;
    flex-grow: 1;

    // sass-lint:disable class-name-format
    .public-DraftEditorPlaceholder-hasFocus {
      display: none;
    }

    .public-DraftEditorPlaceholder-inner {
      color: var(--color-text-placeholder);
    }

    .mention {
      color: $color-blue;
      text-decoration: none;
    }

    .DraftEditor-root + div {
      height: 150px;
      padding: 5px 0;
      overflow-y: auto;
      z-index: 10;
    }
  }

  .file-download-input {
    display: none;
  }

  .aui--editor-toolbar {
    padding: 10px 20px;
    background-color: var(--color-gray-white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .aui--toolbar-button {
      box-shadow: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 6px;
      font-size: 12px;
      align-items: center;
      line-height: 0;

      &:last-of-type {
        margin-right: 0;
      }

      .file-download-button {
        background-image: $icon-paper-clip;
        width: 18px;
        height: 18px;
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:focus {
        outline: none;
      }

      &:hover,
      &.active {
        background-color: var(--color-gray-lighter);
        border-color: var(--color-gray-lighter);
      }

      img,
      div,
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.aui--mention-entry {
  background-color: $color-white;
  width: 350px;

  &__is-focused {
    background: $color-blue-light;
    cursor: pointer;
  }

  .mention-entry--container {
    display: flex;
    align-items: center;

    &__left {
      margin: 5px 20px;
    }

    .mention-entry--title,
    .mention-entry--name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .mention-entry--title {
      font-size: 10px;
      color: var(--color-gray-base);
    }

    .mention-entry--avatar {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

.aui--file-preview-list {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  .aui--file-sticker {
    position: relative;
  }

  .aui--file-sticker-image {
    width: 60px;
    margin: 0 0 10px 10px;
  }

  .aui--file-sticker-file {
    margin: 0 0 10px 10px;
    width: 200px;
    height: 60px;
    border: 1px solid var(--color-gray-light);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-name {
      width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }

    &-icon {
      background-image: $icon-file;
      width: 50px;
      height: 50px;
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .aui--file-sticker-close-button {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background-color: var(--color-gray-darker);
    background-image: $icon-cross-inverse;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    border: $color-white 2px solid;
    z-index: 10;
  }

  .aui--file-sticker-spinner {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: $color-white 2px solid;
    background-color: $color-white;
  }
}
