@import '~styles/color';

.aui--editor-root {
  border: 1px solid $color-gray-lighter;
  min-height: 245px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .aui--editor-container {
    padding: 20px;
    flex-grow: 1;

    // sass-lint:disable class-name-format
    .public-DraftEditorPlaceholder-hasFocus {
      display: none;
    }

    .public-DraftEditorPlaceholder-inner {
      color: $color-text-placeholder;
    }

    .mention {
      color: $color-blue;
      text-decoration: none;
    }

    .DraftEditor-root + div {
      height: 150px;
      padding: 5px 0;
      overflow-y: auto;
    }
  }

  .aui--editor-toolbar {
    padding: 10px 20px;
    background-color: $color-gray-white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .aui--toolbar-button {
      box-shadow: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 6px;
      font-size: 12px;
      align-items: center;

      &:focus {
        outline: none;
      }

      &:hover,
      &.active {
        background-color: $color-gray-lighter;
        border-color: $color-gray-lighter;
      }

      img,
      div {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.aui--mention-entry {
  background-color: $color-white;
  width: 350px;

  &__is-focused {
    background: $color-blue-light;
    cursor: pointer;
  }

  .mention-entry--container {
    display: flex;
    align-items: center;

    &__left {
      margin: 5px 20px;
    }

    .mention-entry--title,
    .mention-entry--name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .mention-entry--title {
      font-size: 10px;
      color: $color-gray;
    }

    .mention-entry--avatar {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
