@import '../../../styles/color';
@import '../../../styles/font-weight';

.treepickergrid-component {
  &-group-label {
    .grid-component-row {
      background-color: $color-gray-white;
      font-weight: $font-weight-bold;
      padding: 7px 10px;
    }
  }
}
