@import 'styles/color';
@import 'styles/font-size';
@import 'styles/font-weight';

.breadcrumb-component {
  $breadcrumb-height: 10px;
  color: $color-link;
  cursor: default;
  font-size: $font-size-body;
  font-weight: $font-weight-light;
  height: $breadcrumb-height;
  line-height: $breadcrumb-height;

  &-link {
    cursor: pointer;

    &:hover,
    &:active {
      color: $color-link-hover;
      text-decoration: underline;
    }
  }
}
