@import url('../../styles/variable.css');

.aui--status-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  user-select: none;
  font-weight: $font-weight-bold;
  line-height: 1;
  color: $color-default-strong;
}

.aui--status-pill-primary {
  background-color: $color-primary-accent;
}

.aui--status-pill-primary.aui--status-pill-inverse {
  background-color: $color-white;
  border-color: $color-border-base;
  color: $color-primary-base;
}

.aui--status-pill-info {
  background-color: $color-info-accent;
}

.aui--status-pill-info.aui--status-pill-inverse {
  background-color: $color-white;
  border-color: $color-border-base;
  color: $color-info-strong;
}

.aui--status-pill-success {
  background-color: $color-success-accent;
}

.aui--status-pill-success.aui--status-pill-inverse {
  background-color: $color-white;
  border-color: $color-border-base;
  color: $color-success-strong;
}

.aui--status-pill-warning {
  background-color: $color-warning-accent;
}

.aui--status-pill-warning.aui--status-pill-inverse {
  background-color: $color-white;
  border-color: $color-border-base;
  color: $color-warning-strong;
}

.aui--status-pill-error {
  background-color: $color-danger-accent;
}

.aui--status-pill-error.aui--status-pill-inverse {
  background-color: $color-white;
  border-color: $color-border-base;
  color: $color-danger-strong;
}

.aui--status-pill-light {
  background-color: $color-default-accent;
}

.aui--status-pill-light.aui--status-pill-inverse {
  background-color: $color-white;
  border-color: $color-border-base;
}
