@import '~styles/variable';

$color-primary: $color-status-blue;
$color-primary-background: $color-status-light-blue;
$color-success: $color-status-green;
$color-success-background: $color-status-light-green;
$color-warning: $color-status-orange;
$color-warning-background: $color-status-light-orange;
$color-error: $color-status-red;
$color-error-background: $color-status-light-red;
$color-light: $color-status-light;
$color-inverse-border: $color-status-light;

.aui--status-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  user-select: none;
  font-weight: $font-weight-bold;
  line-height: 1;
  color: var(--color-gray-darker);

  &-primary {
    background-color: $color-primary-background;

    &.aui--status-pill-inverse {
      background-color: $color-background;
      border-color: $color-inverse-border;
      color: $color-primary;
    }
  }

  &-success {
    background-color: $color-success-background;

    &.aui--status-pill-inverse {
      background-color: $color-background;
      border-color: $color-inverse-border;
      color: $color-success;
    }
  }

  &-warning {
    background-color: $color-warning-background;

    &.aui--status-pill-inverse {
      background-color: $color-background;
      border-color: $color-inverse-border;
      color: $color-warning;
    }
  }

  &-error {
    background-color: $color-error-background;

    &.aui--status-pill-inverse {
      background-color: $color-background;
      border-color: $color-inverse-border;
      color: $color-error;
    }
  }

  &-light {
    background-color: $color-light;

    &.aui--status-pill-inverse {
      background-color: $color-background;
      border-color: $color-inverse-border;
    }
  }
}
