@import url('../../../styles/variable.css');

.treepickergrid-component-group-label .grid-component-row {
  background-color: $color-grey-100;
  font-weight: $font-weight-bold;
  padding: 7px 10px;
}
