.aui--vertical-navigation-component {
  display: flex;
  flex-direction: row;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__menu {
  width: 260px;
  font-size: 15px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 700;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__menu.aui--vertical-navigation-component__menu-is-collapsed {
  width: 60px;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__menu.aui--vertical-navigation-component__menu-is-animated {
  transition: width 1s ease-in-out;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__menu .aui--vertical-navigation-component__menu-item {
  height: 60px;
  padding: 10px;
  margin-right: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__menu .aui--vertical-navigation-component__menu-item .aui--vertical-navigation-component__menu-item-collapse {
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__menu .aui--vertical-navigation-component__menu-item .aui--vertical-navigation-component__menu-item-collapse:hover {
  border-radius: 50%;
  background-color: #e8e8e8;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__menu .aui--vertical-navigation-component__menu-item .aui--vertical-navigation-component__menu-item-collapse-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../styles/icons/burger.svg");
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__content {
  flex-grow: 1;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__content .aui--vertical-navigation-component__content-item {
  display: none;
}
.aui--vertical-navigation-component .aui--vertical-navigation-component__content .aui--vertical-navigation-component__content-item.aui--vertical-navigation-component__content-item-is-active {
  display: block;
}
