@import '~styles/variable';
@import '~styles/mixin';

$menu-min-width: 60px;
$menu-max-width: 260px;

.aui--vertical-navigation-component {
  display: flex;
  flex-direction: row;

  .aui--vertical-navigation-component__menu {
    width: $menu-max-width;
    font-size: $font-size-subheader;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;

    &.aui--vertical-navigation-component__menu-is-collapsed {
      width: $menu-min-width;
    }

    &.aui--vertical-navigation-component__menu-is-animated {
      transition: width 1s ease-in-out;
    }

    .aui--vertical-navigation-component__menu-item {
      height: 60px;
      padding: 10px;
      margin-right: 6px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;
      overflow: hidden;

      .aui--vertical-navigation-component__menu-item-collapse {
        display: flex;
        width: 40px;
        height: 40px;
        flex-direction: column;
        justify-content: center;
        padding: 8px;

        &:hover {
          border-radius: 50%;
          background-color: var(--color-gray-lighter);
        }
      }

      .aui--vertical-navigation-component__menu-item-collapse-icon {
        @include svg-icon('~styles/icons/burger.svg', 24px, 24px);
      }
    }
  }

  .aui--vertical-navigation-component__content {
    flex-grow: 1;

    .aui--vertical-navigation-component__content-item {
      display: none;

      &.aui--vertical-navigation-component__content-item-is-active {
        display: block;
      }
    }
  }
}
