@import url('../../styles/variable.css');

.pretty-diff-component {
  border: 1px solid $color-border-base;
  font-size: $font-size-base;
  padding: 10px;
  white-space: pre-wrap;
}

.pretty-diff-component-delete {
  color: $color-red-500;
  text-decoration: line-through;
}

.pretty-diff-component-insert {
  color: $color-green-500;
}
