@import '~styles/color';
@import '~styles/font-size';
@import '~styles/font-weight';

.statistic-component {
  font-size: $font-size-subheader;

  &-value {
    color: var(--color-text-base);
    font-weight: $font-weight-bold;
  }

  &-label {
    color: var(--color-text-light);
    font-weight: $font-weight-normal;
  }

  & + .statistic-component {
    margin-top: 5px;
  }

  &.inline {
    .statistic-component-label,
    .statistic-component-value {
      display: inline-block;
    }

    .statistic-component-label {
      margin-left: 5px;
    }
  }
}
