@import url('../../styles/variable.css');

.statistic-component {
  font-size: $font-size-medium;
}

.statistic-component-value {
  color: $color-text-base;
  font-weight: $font-weight-bold;
}

.statistic-component-label {
  color: $color-text-soft;
  font-weight: $font-weight-normal;
}

.statistic-component + .statistic-component {
  margin-top: 5px;
}

.statistic-component.inline .statistic-component-label,
.statistic-component.inline .statistic-component-value {
  display: inline-block;
}

.statistic-component.inline .statistic-component-label {
  margin-left: 5px;
}
