@import '~styles/color';
@import '~styles/variable';

$color-switch-background-off: $color-light-red;
$color-switch-background-on: $color-light-green;
$color-switch-circle-off: $color-dark-red;
$color-switch-circle-on: $color-dark-green;

.aui--switch-label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.aui--switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.aui--switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-switch-background-off;
  transition: .4s;
}

.aui--switch-slider::before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  margin-left: 4px;
  margin-top: 4px;
  background-color: $color-switch-circle-off;
  transition: .4s;
}

input:checked + .aui--switch-slider {
  background-color: $color-light-green;
}

input:checked + .aui--switch-slider::before {
  background-color: $color-dark-green;
  transform: translateX(20px);
}

.aui--switch-slider.round {
  border-radius: 34px;
}

.aui--switch-slider.round::before {
  border-radius: 50%;
}

