@import '~styles/border';
@import '~styles/color';
@import '~styles/font-size';
@import '~styles/variable';
@import '~styles/font-weight';
@import '~styles/animation';
@import '~styles/mixin';

.aui--action-panel {
  min-width: 300px;
  min-height: 100px;
  z-index: $zindex-popover;
  border-radius: 2px;
  background-color: $color-white;

  &.action-modal {
    top: 30px;
    background-color: $color-white ;
    margin: 30px auto;
    border: 0;
  }

  &.is-small {
    width: 500px;
  }

  &.is-medium {
    width: 700px;
  }

  &.is-large {
    width: 1000px;
  }

  &-header {
    height: 48px;
    color: $color-gray-darkest;
    padding: 12px;
    border-bottom: $border-lighter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: $border-lighter;

    .title {
      @include ellipse;
      font-size: $font-size-header;
      font-weight: $font-weight-bold;
    }

    svg {
      fill: $color-gray-darker;
    }

    .close-svg-icon {
      padding: 0;
      width: 26px;
      height: 26px;
    }

    .close-button.btn {
      background-color: transparent;
      color: $color-inverse;

      > div {
        display: inline-flex;
      }
    }

    .close-icon {
      @include svg-icon('~styles/icons/close.svg')
    }

    .btn {
      border: 0;
      outline: 0;
      margin: 0 0 0 6px;
      box-shadow: none;
      border-radius: 2px;
      background-color: $color-white;
      color: $color-blue;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:focus:active,
      &:hover:active {
        background-color: transparent;
      }
    }

    &.has-actions {
      background-color: $color-blue;
      color: $color-inverse;
      border: 0;

      .actions {
        .btn {
          &:hover {
            color: $color-blue;
          }

          svg {
            fill: $color-inverse;
          }
        }

        .btn:hover {
          background-color: $color-inverse;

          svg {
            fill: $color-blue;
          }
        }
      }
    }
  }

  &-body {
    padding: 30px;
    border: $border-lighter;
    border-top: 0;
  }
}

.aui--action-panel-backdrop {
  position: fixed;
  display: flex;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $color-gray-dark;
  width: 100%;
  opacity: .8;
  animation: fadein .2s;
}


.aui--action-panel-modal-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1040;
  display: flex;
  align-content: center;
  top: 0;
  left: 0;
}
