@import '~styles/color';
@import '~styles/icon';

.help-icon-popover-component {
  $help-icon-size: 10px;

  display: inline-block;
  padding-left: 3px;

  &-trigger {
    background-image: $icon-help;
    width: $help-icon-size;
    height: $help-icon-size;
    background-size: $help-icon-size;
    margin-bottom: -1px;
  }
}
