@import url('../../src/styles/variable.css');

$swatch-width: 134px;
$swatch-height: 92px;

.token-summary {
  display: list-item;
  font-size: $font-size-medium;
  color: $color-text-label;
}

.token-container {
  display: flex;
  flex-direction: column;

  & h2 {
    border-bottom: 2px solid;
    padding-bottom: 6px;
    font-weight: $font-weight-bold;
    margin-bottom: 32px;
  }

  & .token-group {
    margin-bottom: 36px;

    & > h4 {
      font-size: $font-size-large;
    }

    & .token {
      display: grid;
      margin-bottom: 12px;
      grid-template-columns: $swatch-width 1fr 2fr 1fr 2fr;
      width: 100%;
      gap: 32px;
      padding-bottom: 12px;
      align-items: center;
      border-bottom: 1px solid $color-border-base;
    }

    & .token-original {
      display: block;
      text-transform: lowercase;
      color: $color-text-placeholder;
      font-size: $font-size-small;
    }

    & .token-value-container {
      font-family: monospace;
      display: flex;
      flex-direction: column;
      padding: 12px;
    }

    & .token-value {
      font-size: 18px;
      color: $color-text-soft;
    }

    & .token-value-variable {
      font-family: monospace;
    }

    & .token-value-hex {
      text-transform: uppercase;
      font-size: 18px;
    }

    & .token-ratio {
      display: flex;
      align-items: center;
    }

    & .token-ratio-example {
      display: flex;
      flex-direction: column;
    }

    & .token-ratio-status {
      margin-right: 6px;
      font-weight: $font-weight-bold;
      background-color: white;
      border-radius: 6px;
      padding: 2px 6px;
      font-size: $font-size-xsmall;
      line-height: 1;
      color: $color-danger-base;

      &.success {
        color: $color-success-base;
      }
    }

    & .token-swatch {
      width: 100%;
      height: $swatch-height;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 4px;

      &.has-border {
        border: 1px solid $color-border-base;
      }
    }

    & .token-sub-group {
      display: flex;
      flex-direction: column;

      & .token-sub-group {
        margin-top: 24px;
      }

      & .sub-group-heading {
        font-size: $font-size-xlarge;
        font-weight: $font-weight-normal;
        border-bottom: 2px solid;
        margin-bottom: 18px;
      }

      margin-bottom: 42px;
    }
  }
}
