@import '~styles/border';
@import '~styles/color';
@import '~styles/font-size';

.alert-input-component {
  &-wrapper {
    align-items: center;
    background-color: $color-well;
    border: $border-lighter;
    border-radius: $border-radius;
    display: flex;
    padding: 4px 5px;
    position: relative;

    &-flex-wrapper {
      width: 100%;
    }

    &.is-focused {
      border-color: $color-border;
    }

    &.success {
      border-color: $color-positive;
    }

    &.info {
      border-color: $color-info;
    }

    &.warning {
      border-color: $color-warning;
    }

    &.error {
      border-color: $color-negative;
    }

    &-input {
      background-color: $color-well;
      border: 0;
      flex: 1;
      width: 100%;
      padding: 0;

      &:focus {
        outline: none;
      }
    }

    &-addon {
      color: $color-text-addon;

      &:first-child {
        margin-right: 2px;
      }

      &:last-child {
        margin-left: 2px;
      }
    }
  }

  &-popover {
    border-radius: 4px;
    box-shadow: none;
    font-size: $font-size-small;

    .popover-content {
      color: inherit;
      padding: 5px 10px;
      width: auto;
    }
  }
}
