@import '~styles/color';
@import '~styles/icon';

@mixin button-style {
  background-color: $color-carousel-button;
  border: 0;
  height: 100%;
  padding: 0;
  width: 100%;

  &::before {
    background: $icon-chevron-white 50% no-repeat;
    content: '';
    display: block;
    height: $icon-size-large;
    margin: 0 auto;
    width: $icon-size-large;
  }
}

.carousel-component {
  .slider-control-centerleft {
    height: 100%;

    .carousel-component-prev {
      @include button-style;

      &::before {
        transform: rotate(-90deg);
      }
    }
  }

  .slider-control-centerright {
    height: 100%;

    .carousel-component-next {
      @include button-style;

      &::before {
        transform: rotate(90deg);
      }
    }
  }
}
