@import '~styles/color';
@import '~styles/icon';
@import '~styles/mixin';

.slick-dots {
  position: relative;
  top: -35px;

  li {
    margin: 0;
  }
}

.slick-track {
  display: flex;
  align-items: center;

  div,
  span {
    outline: none;
  }
}

.slick-next {
  right: 45px;
  transform: rotate(-90deg);
}

.slick-prev {
  left: 35px;
  transform: rotate(90deg);
}

.slick-prev,
.slick-next {
  height: 50px;
  width: 50px;
  z-index: 1;
  top: 40%;
  background: $color-white;
  border-radius: 30px;
  font-size: 20px;
  padding: 15px 13px;
  opacity: .6;

  &:hover {
    opacity: 1;
    background: $color-white;
  }

  &:focus {
    background: $color-white;
  }

  &::before {
    content: url('~styles/icons/chevron-down.svg');
  }
}
