@import url('../../styles/variable');

$checkbox-size: 16px;
$label-gap: 8px;

.aui--checkbox {
  cursor: pointer;
  display: block;

  & label {
    cursor: pointer;
    font-weight: $font-weight-normal;
    margin-bottom: 0;
    display: flex;
  }

  & input {
    display: none;
  }

  &.is-reverse {
    & label {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  & .aui--checkbox-input-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    flex-shrink: 0;
    width: 16px;
    height: 16px;

    &::before {
      content: '';
      width: inherit;
      height: inherit;
      border-radius: 3px;
      border-width: 2px;
      transition: border 85ms ease-in-out;
      border-style: solid;
      border-color: $color-grey-500;
      display: block;
    }

    &::after {
      content: '';
    }
  }

  &:focus-visible {
    outline: none;

    & .aui--checkbox-input-icon {
      border-radius: 3px;
      box-shadow: 0 0 0 2px $color-grey-700;
    }
  }

  /* checked */
  &.checked .aui--checkbox-input-icon {
    &::before {
      border-color: $color-info-base;
      border-width: 8px;
    }

    &::after {
      content: '';
      width: inherit;
      height: inherit;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../../styles/icons/checkbox/check-white.svg');
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  /* partial */
  &.partial-checked .aui--checkbox-input-icon {
    &::after {
      content: '';
      width: 8px;
      height: 2px;
      background-color: $color-grey-500;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &.disabled {
    cursor: not-allowed;

    & label {
      cursor: not-allowed;
    }

    & .aui--checkbox-input-icon {
      &::before {
        border-color: $color-grey-300;
        border-width: 8px;
      }
    }

    &.partial-checked .aui--checkbox-input-icon {
      &::before {
        border-color: $color-grey-300;
      }
    }

    &.checked .aui--checkbox-input-icon {
      &::after {
        background-image: url('../../styles/icons/checkbox/check-gray.svg');
      }
    }
  }

  /* unchecked hover */
  &:hover:not(.disabled, .checked, .partial-checked) .aui--checkbox-input-icon {
    &::before {
      border-color: $color-info-base;
    }
  }

  /* unchecked pressed */
  &:active:not(.disabled, .checked, .partial-checked) .aui--checkbox-input-icon {
    &::before {
      border-color: $color-info-strong;
    }
  }

  /* partial hover */
  &.partial-checked:not(.disabled):hover .aui--checkbox-input-icon {
    &::before {
      border-color: $color-info-base;
    }
  }

  /* checked hover */
  &.checked:not(.disabled):hover .aui--checkbox-input-icon {
    &::before {
      border-color: $color-info-strong;
    }
  }

  /* checked pressed */
  &.checked:not(.disabled):active .aui--checkbox-input-icon {
    &::before {
      border-color: $color-info-base;
    }
  }

  & .aui--checkbox-label {
    margin-left: $label-gap;
    line-height: $checkbox-size;
    color: $color-text-base;
  }
}
