.checkbox-component {
  cursor: pointer;
  display: block;
}
.checkbox-component label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0;
  display: flex;
}
.checkbox-component input {
  display: none;
}
.checkbox-component + .checkbox-component {
  margin-top: 5px;
}
.checkbox-component.checkbox-component-inline {
  display: inline-block;
}
.checkbox-component.checkbox-component-inline + .checkbox-component.checkbox-component-inline {
  margin-top: 0;
  margin-left: 10px;
}
.checkbox-component .checkbox-component-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../styles/icons/checkbox/empty.svg');
  flex-shrink: 0;
}
.checkbox-component:hover:not(.disabled):not(.checked):not(.partial-checked) .checkbox-component-icon {
  background-image: url('../../styles/icons/checkbox/hover.svg');
}
.checkbox-component.checked .checkbox-component-icon {
  background-image: url('../../styles/icons/checkbox/checked.svg');
}
.checkbox-component.partial-checked .checkbox-component-icon {
  background-image: url('../../styles/icons/checkbox/partial.svg');
}
.checkbox-component.partial-checked .checkbox-component-icon:hover {
  background-image: url('../../styles/icons/checkbox/partial-hover.svg');
}
.checkbox-component.disabled {
  cursor: not-allowed;
}
.checkbox-component.disabled label {
  cursor: not-allowed;
}
.checkbox-component.disabled .checkbox-component-icon {
  background-image: url('../../styles/icons/checkbox/empty-disabled.svg');
}
.checkbox-component.disabled.checked .checkbox-component-icon {
  background-image: url('../../styles/icons/checkbox/checked-disabled.svg');
}
.checkbox-component.disabled.partial-checked .checkbox-component-icon {
  background-image: url('../../styles/icons/checkbox/partial-disabled.svg');
}
.checkbox-component .checkbox-component-label {
  margin-left: 5px;
  line-height: 16px;
}
