.aui--button-group {
  display: flex;
}
.aui--button-group > .aui--button {
  margin-right: 0;
}
.aui--button-group > .aui--button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.aui--button-group > .aui--button:last-child, .aui--button-group > .aui--button:last-child:hover, .aui--button-group > .aui--button:last-child:active,
.aui--button-group > .aui--button * .aui--button,
.aui--button-group > .aui--button * .aui--button:hover,
.aui--button-group > .aui--button * .aui--button:active {
  border-left-width: 0;
  border-right-width: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.aui--button-group * .aui--button,
.aui--button-group * .aui--button:hover,
.aui--button-group * .aui--button:active {
  border-left-width: 0;
  border-right-width: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.aui--button-group + .aui--button-group {
  margin-left: 20px;
}
.aui--button-group + button {
  margin-right: 20px;
}

button + .aui--button-group {
  margin-left: 20px;
}
