@import url('../../../styles/variable.css');

.arc-component.positive {
  fill: $color-green-500;
}

.arc-component.negative {
  fill: $color-red-500;
}

.arc-component.info {
  fill: $color-cyan-500;
}

.arc-component.warning,
.arc-component.pending {
  fill: $color-cyan-500;
}
