@import '~styles/variable';

.aui--search-component {
  $search-height: 26px;

  height: $search-height;
  width: 100%;
  position: relative;
  display: flex;

  .aui--search-component-input {
    flex: 1;
    padding: 0 10px;
    border: $border-lighter;
    border-radius: $border-radius;
    width: inherit;

    &::placeholder {
      color: $color-text-placeholder;
    }

    &:active,
    &:focus {
      border-color: $color-border-base;
      outline: 0;

      & ~ .aui--search-component-button {
        border-color: $color-border-base;
      }
    }
  }

  .aui--search-component-icon {
    height: 100%;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;

    &.with-button {
      right: 40px;
    }

    .search-icon,
    .cancel-icon {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .search-icon {
      background-image: url('~styles/icons/search/search-gray.svg');
    }

    .cancel-icon {
      background-image: url('~styles/icons/search/cancel-gray.svg');

      &:hover {
        background-image: url('~styles/icons/search/cancel.svg');
      }
    }
  }

  .aui--search-component-button {
    margin-left: -2px;
    margin-right: 0;
    border: $border-lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 7px;
    border-radius: 0 $border-radius $border-radius 0;
    box-shadow: none;

    &:hover {
      background-color: $color-gray-white;
    }

    &:focus {
      outline: none;
    }

    span {
      width: 16px;
      height: 16px;
    }

    .search-icon {
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('~styles/icons/search/search-primary.svg');
      flex-shrink: 0;
    }
  }

  .aui--search-component-spinner {
    position: absolute;
    top: 5px;
    right: 25px;
  }
}
