@import url('../../styles/variable');

$diameter: 35px;

.avatar-component {
  background-color: $color-grey-500;
  border-radius: $border-radius-round;
  color: $color-text-inverse;
  cursor: default;
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  height: $diameter;
  line-height: calc($diameter + 1px);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: $diameter;

  &.avatar-component-image-placeholder {
    background-color: transparent;
  }

  & .avatar-component-image {
    border-radius: $border-radius-round;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  &.avatar-component-blue {
    background-color: $color-primary-base;
  }

  &.avatar-component-green {
    background-color: $color-success-base;
  }

  &.avatar-component-red {
    background-color: $color-danger-base;
  }

  &.avatar-component-orange {
    background-color: $color-info-base;
  }

  &.avatar-component-cyan {
    background-color: $color-info-base;
  }

  &.avatar-component-black {
    background-color: $color-grey-800;
  }
}
