@import url('../../styles/variable');

$diameter: 35px;

.avatar-component {
  background-color: $color-gray;
  border-radius: $border-radius-circle;
  color: $color-text-inverse;
  cursor: default;
  display: inline-block;
  font-size: $font-size-subheader;
  font-weight: $font-weight-bold;
  height: $diameter;
  line-height: calc($diameter + 1px);
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: $diameter;

  &.avatar-component-image-placeholder {
    background-color: transparent;
  }

  & .avatar-component-image {
    border-radius: $border-radius-circle;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  &.avatar-component-blue {
    background-color: $color-blue;
  }

  &.avatar-component-green {
    background-color: $color-green;
  }

  &.avatar-component-red {
    background-color: $color-red;
  }

  &.avatar-component-orange {
    background-color: $color-orange;
  }

  &.avatar-component-cyan {
    background-color: $color-cyan;
  }

  &.avatar-component-black {
    background-color: $color-gray-darker;
  }
}
