@import '~styles/color';
@import '~styles/icon';

.carousel-component {
  &-prev,
  &-next {
    background-color: $color-carousel-button;
    border: 0;
    height: 100%;
    padding: 0;
    width: 100%;

    &::before {
      background: $icon-chevron-white 50% no-repeat;
      content: '';
      display: block;
      height: $icon-size-large;
      margin: 0 auto;
      width: $icon-size-large;
    }
  }

  &-prev {
    &::before {
      transform: rotate(-90deg);
    }
  }

  &-next {
    &::before {
      transform: rotate(90deg);
    }
  }
}
