// For display of components during development.
// This is not distributed.
@import '~styles/variable';

.index {
  max-width: 900px;

  > .btn-panel + .btn-panel {
    margin-top: $spacing-etalon;
  }

  > .pagetitle-component {
    margin-bottom: $spacing-etalon;
    padding-left: 0;
    padding-right: 0;

    &:not(:nth-child(1)) {
      margin-top: ($spacing-etalon*2);
    }

    small {
      font-size: $font-size-small;
    }
  }

  > br {
    line-height: $spacing-etalon;
  }
}



.checkbox-example {
  width: 200px;

  label {
    padding-left: 21px;

    > .icheckbox {
      margin-left: -21px;
    }
  }
}

// A re-usable example for creating custom accent colours for the <Tag> component
@mixin accent($id, $color-accent) {
  label {
    &.accent-#{$id} {
      color: $color-accent;
    }
  }

  .card-component {
    &.accent-#{$id} {
      .card-component-content-container {
        border-bottom-color: $color-accent;
      }
    }
  }

  .tag-component-accent {
    &.accent-#{$id} {
      border-color: $color-accent;

      &:not(.tag-component-inverse) {
        background-color: $color-accent;
      }

      &.tag-component-inverse {
        color: $color-accent;
        fill: $color-accent;
      }
    }
  }
}

@include accent(0, $color-positive);
@include accent(1, $color-pending);
@include accent(2, $color-negative);

.spinner-colour-style-warning {
  border-bottom-color: $color-red-dark;
  border-left-color: $color-red-dark;
  border-right-color: $color-red-dark;
  border-top-color: $color-orange;
}
