@import '~styles/variable';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.adslotui-layout {
  &-content {
    margin: $spacing-etalon;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-basis: 100px;
      flex-grow: 0;
      position: fixed;
    }

    &-right {
      margin-left: 250px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }
  }

  > .pagetitle-component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 25;

    > .svg-symbol-component {
      width: 156px;
      height: 30px;
    }
  }
}
