@import url('../../styles/variable.css');

.flexible-spacer-component {
  border: 1px solid $color-border-base;
  flex-grow: 1;
}

.flexible-wrapper-inline {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.flexible-wrapper-inline .flexible-spacer-component {
  border: 0;
}

.flexible-wrapper-inline > .aui--svg-symbol-component {
  margin: auto;
}
