@import url('../../../styles/variable.css');

.treepickernav-component {
  border-left: 1px solid $color-border-base;
  border-right: 1px solid $color-border-base;
  padding: 10px;
}

.treepickernav-component > div + div {
  margin-top: 10px;
}

.treepickernav-component > .aui--breadcrumb {
  padding-left: 2px;
}
